.logo img{
	width: 177px;
	max-width: 177px;
}
.logo{
	padding: 12px 0 18px 0;
}
.introduce{
	padding: 14px 15px 18px 15px;
	background-color: #fff;
	color: #333333;
	font-size: 12px;
}
.introduce h1{
	text-align:center;
	font-size: 15px;
	margin-bottom: 13px;
}
.introduce li{
	line-height: 22px;
}
.intro_l i{
	display: inline-block;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 5px 6px 6px 5px/5px 5px 6px 6px;
	-moz-border-radius: 5px 6px 6px 5px/5px 5px 6px 6px;
	border-radius: 5px 6px 6px 5px/5px 5px 6px 6px;
	background-color: #219946;
	vertical-align: top;
	margin: 7px 4px 0 0;
}
.copyright{
	font-size: 10px;
	color: #999999;
	text-align:center;
	padding: 40px 0 0 0;
}
