main section {
  background: white;
  margin-top: 14px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #dadcde;
  border-bottom: 1px solid #dadcde;
}
main section > div {
  border-bottom: 1px solid #dadcde;
}
main section > div:last-child {
  border-bottom: none;
}
.title_state {
  height: 56px;
  line-height: 56px;
  position: relative;
}
.title_state h3,
.title_state div {
  display: inline-block;
}
.title_state h3 {
  font-size: 16px;
}
.title_state .state {
  background: #219946;
  height: 38px;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
  display: border-box;
  width: 100px;
  background-size: 7rem;
  position: absolute;
  right: -10px;
  top: 9px;
}
.title_state .state:after {
  content: "";
  width: 0;
  height: 0;
  border: 19px;
  border-style: solid;
  border-color: #fff #219946 #fff #fff;
  position: absolute;
  left: -37px;
  top: 0px;
}
.title_state .state span {
  line-height: 24px;
}
.title_state .state .s1 {
  font-size: 14px;
  color: white;
  display: block;
  height: 14px;
}
.title_state .state .s2 {
  font-size: 10px;
  color: white;
}
.title_state .state2 {
  background: #e73a3a;
}
.title_state .state2:after {
  border-color: #fff #e73a3a #fff #fff;
}
.mem_data {
  padding-top: 14px;
  padding-bottom: 14px;
}
.mem_data p {
  font-size: 12px;
  color: #999;
}
.mem_data p span {
  font-family: simsun;
}
.pro_data {
  padding-bottom: 20px;
}
.pro_data .title {
  padding-top: 14px;
  padding-bottom: 14px;
}
.pro_data .title span {
  display: inline-block;
  background: url(../images/allbgs.png) no-repeat 0px 0px;
  height: 14px;
  padding-left: 21px;
  background-size: 10rem;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 6px;
}
.pro_detail p {
  font-size: 14px;
  color: #333;
}
.pro_detail p span {
  color: #999;
  float: left;
}
.pro_detail p .s2{
  width: 75%;
  display: inline-block;
}
/* .pro_detail p .dp{
  font-size: 14px;
  color: #333;
  display: inline-block;
} */
.matched .title {
  padding-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dadcde;
}
.matched .title > * {
  display: inline-block;
}
.matched .title span {
  background: url(../images/allbgs.png) no-repeat 0px -14px;
  height: 16px;
  padding-left: 16px;
  background-size: 10rem;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 6px;
}
.matched .title em {
  font-size: 12px;
  color: #999;
}
.bor {
  border-bottom: 1px solid #dadcde;
}
.pipei_pro {
  padding: 0;
  margin-bottom: 50px;
}
.list {
  padding-left: 10px;
  padding-right: 10px;
}
.list table {
  width: 100%;
  color: #333;
}
.list table tr {
  border-bottom: 1px solid #dadcde;
}
.list table tr:last-child {
  border-bottom: none;
}
.list table td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list table tbody {
  padding-left: 10px;
  padding-right: 10px;
}
.list table thead {
  border-bottom: 1px solid #dadcde;
}
.list table thead th {
  font-weight: normal;
}
.list table thead th em {
  color: #999;
}
.al {
  text-align: left!important;
}
