.wrap .summary{
	padding: 8px 58px 11px 15px;
	background-color: #fff;
	border-bottom: solid 1px #dddddd;
	position: relative;
}
.wrap h1{
	font-size: 14px;
	color: #3d4245;
}
.wrap .summary .summary_f{
	max-height: 36px;
	overflow: hidden;
}
.wrap .summary_f,.wrap .break{
	font-size: 12px;
	color: #888888;
}
.wrap .detial{
	padding: 8px 58px 11px 15px;
	background-color: #ede7d7;
	border-bottom: solid 1px #dddddd;
}
.arrow{
	position:absolute;
	top: 15px;
	right: 15px;
	width: 43px;
	height: 43px;
	text-align: center;
}
.arrow em{
	display: inline-block;
	width: 10px;
  	height: 15px;
	background: url(../images/css_sprite.png) scroll no-repeat -282px -22px;
	background-size:30rem;
	vertical-align: top;
	margin: 14px 0 0 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.detial_wrap{
	display: none;
}
