a.a_tr{
	background-color:#fff;
	color: #3d4245;
	padding:11px 0 0 0;
}
.a_tr .left{
	padding: 0 0 0 10px;	
}
.a_tr .left em{
	display: inline-block;
	width:26px;height:26px;
	background: url(../images/css_sprite.png) scroll no-repeat -165px -137px;
	margin: 0px 10px 0 0;
	background-size:30rem;
	vertical-align: top;
}
.a_tr .left em.icon1{
	background-position:-193px -137px;
}
.a_tr .left em.icon2{
	background-position:-220px -137px;
}
.a_tr .left em.icon3{
	background-position:-248px -137px;
}
.a_tr .left em.icon4{
	background-position:-275px -137px;
}
.a_tr .left em.icon5{
	background-position:-0px -137px;
}
.a_tr .left em.icon6{
	background-position:-28px -137px;
}
.a_tr .left em.icon7{
	background-position:-55px -137px;
}
.a_tr .left em.icon8{
	background-position:-82px -137px;
}
.a_tr .left em.icon9{
	background-position:-110px -137px;
}
.a_tr .left em.icon10{
	background-position:-137px -137px;
}
.a_tr .left em.icon11{
	background-position:-302px -137px;
}
.a_tr .left em.icon12{
	background-position:-330px -137px;
	
}
.a_tr .arrow{
	display: inline-block;
  	width: 10px;
  	height: 15px;
  	background: url(../images/css_sprite.png) scroll no-repeat -282px -22px;
  	background-size: 30rem;
  	vertical-align: top;
  	position: absolute;
  	right: 0px;
  	top: 5px;
}
.a_tr .item{
	border-bottom: solid 1px #dddddd;
	position: relative;
	line-height: 26px;
	padding:0px 15px 11px 0;
}
.setting .a_tr:last-child .item{
	border-bottom: none;
}
.setting{
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
}
.a_tr .item .item0{
	text-align: right;
	padding: 0 25px 0 0;
	position: relative;
	color: #bbbbbb;
	font-size: 12px;
}
.avatar{
	width: 70px;
	height: 70px;
	display: inline-block;
	margin: -45px 0px 0 0;
}
.avatar img{
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.my_info{
	text-align: center;
	color: #333333;
	border-bottom: solid 1px #ddd;
	background-color: #fff;
	padding-top:10px;
	padding-bottom:10px;
	line-height: 1;
}
.my_info h2{
	font-size: 12px;
	color: #666666;
	padding: 5px 0 0 0;
}
.my_info h2 em{
	color: #999999;
	font-size: 10px;
}
.my_info li{
	border-left: solid 1px #cccccc;
}
.my_info li:nth-last-of-type(n+3){
	border:none;
}
.mywallet a{
	border: solid 1px #dddddd;
}
.mywallet a:first-child{
	margin-right: 10px;
}
.setting .red{
	color: #e83b3b;
	font-size: 16px;
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;
}
.setting .red i{
	font-size: 10px;
	display: inline-block;
	margin: 0 0 0 2px;
	vertical-align: top;
}
.scorelist{
	background-color: #fff;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
.scorelist table{
	width: 100%;
	font-size: 12px;
	color: #666666;
}
.scorelist table th,.scorelist table td{
	border-bottom: solid 1px #ddd;
	font-weight: normal;
	text-align: left;
	padding:8px 0;
}
.scorelist table td {
	font-size: 10px;
}
.scorelist .red{
	color: #e83b3b;
}
.scorelist .blue{
	color: #0b6aff;
}
.scorelist table .c0{
	padding: 8px 0 8px 5px;
	width: 40%;
}
.scorelist table .c1{
	width: 24%;
	text-align: center;
}
.scorelist table .c2{
	text-align: right;
	width: 36%;
	padding-right: 5px;
}
.laiyuan{
	max-height: 36px;
	overflow: hidden;
}
.scorelist table td.c0{
	line-height: 1.2;
	
}
.scorelist table tbody tr:last-child td{
	border-bottom: none;
}
.remark{
	color: #888888;
	font-size: 12px;
	padding: 15px 15px;
}
.remark .green{
	color: #219946;
}
#mywallet{
	padding-top: 15px;
}
