@charset "utf-8";
/* CSS Document */

/* analysis_right_column*/
.member_title {
    height: 35px;
    font-size: 18px;
    color: #444;
    font-family: "microsoft yahei";
    position: relative;
    width: 80px;
}
.main_tab {
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
}
.main_tab li:first-child {
    margin-left: 20px;
}
.main_tab li {
    float: left;
    background: url(../images/maintab_hover.jpg) no-repeat;
    width: 123px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.main_tab_plan li:first-child {
    background: #f8f5f4;
}
.main_tab_plan li {
    height: 35px;
    line-height: 35px;
    float: left;
}
.main_tab_plan li p {
    width: 240px;
    float: left;
    overflow: hidden;
    word-wrap: break-word;
    height: 35px;
    padding-left: 18px;
}
.main_tab .main_tab_hoverbg {
    color: #333;
    font-weight: bold;
    background: url(../images/maintab_hover_01.jpg) no-repeat;
    border-bottom: 1px solid #fff;
}
.main_tab_content {
    border-bottom: 1px solid #74332d;
    position: relative;
    height: 35px;
    margin-bottom: 15px;
}
.help_right {
    width: 1034px;
}
.tab_box {
    height: 494px;
    width: 1032px;
    background: none repeat scroll 0% 0% #FFF;
    border-top: 2px solid #3f1c19;
    padding-top: 10px;
}
.tab_con {
    padding-left: 22px;
    padding-right: 22px;
    overflow: hidden;
    width: 965px;
    height: 442px;
}
.main_tab_plan {
    width: 1041px;
}
.more_less {
    width: 12px;
    height: 12px;
    display: block;
    background: none repeat scroll 0% 0% #F00;
    float: left;
    margin-top: -23px;
    margin-left: 45px;
    background: url("../images/more_less.png");
}
.less {
    background-position: -1px 13px;
}
.more {
    background-position: -1px -1px;
}
/*end analysis_right_column*/
