@charset "utf-8";
.hb_main {
  width: 1037px;
  height: 905px;
  float: right;
}
.title_sear {
  width: 100%;
  height: 31px;
  float: left;
}
.pro_list {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  float: left;
}
.pro_title {
  width: 100%;
  height: 40px;
  float: left;
}
.pro_list_box {
  width: 100%;
  height: 681px;
  float: left;
  background: white;
  overflow: hidden;
}
.m_title {
  float: left;
  font-family: "微软雅黑";
  font-size: 18px;
  color: #333;
}
.pro_search {
  float: right;
}
.pro_search .s_sel {
  width: 105px;
  height: 23px;
  border: 1px solid #abadb3;
}
.pro_search .s_text {
  width: 179px;
  height: 22px;
  border: 1px solid #abadb3;
}
.pro_search .s_submit {
  width: 41px;
  height: 22px;
  border: 1px solid #abadb3;
}
.pro_title {
  background: url(../images/sidnav_bg.jpg);
  border-bottom: 1px solid #ddd;
}
.pro_title li:first-child {
  margin-right: 206px;
  margin-left: 20px;
}
.pro_title li {
  float: left;
  margin-right: 39px;
  color: #666;
  font-weight: bold;
  line-height: 40px;
}
.pro_s {
  width: 100%;
  height: 87px;
  border-bottom: 1px solid #eee;
}
.pro_s li {
  width: 85px;
  height: auto;
  float: left;
  margin-top: 20px;
  text-align: center;
  color: #666;
}
.pro_h {
  display: none;
  width: 100%;
  height: auto;
  background: url(../images/hide_t_bg.png);
  background-repeat: repeat-x;
}
.pro_h li {
  float: left;
}
.pro_h .pro_h_t {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.pro_h .pro_h_t li {
  font-weight: bold;
  color: #666;
}
.pro_h .pro_h_l {
  clear: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #F8F5F4;
}
.pro_h .pro_h_l li {
  color: #666;
}
.pro_img_w {
  width: 213px!important;
  margin-left: 6px;
}
.pro_img_w img {
  margin-left: 12px;
  border: 1px solid #e3e3e3;
  width: 50px;
  height: 50px;
}
.pro_img_w i {
  text-align: left;
  margin-left: 4px;
  float: right;
  width: 144px;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
  color: #666;
  height: 30px;
  overflow: hidden;
}
.mar {
  margin-top: 20px!important;
  line-height: 56px;
}
.mar5 input {
  width: 40px;
  height: 20px;
  border: 1px solid #abadb3;
  margin-right: 2px;
}
.mar1 {
  margin-left: 43px;
}
.mar2 {
  margin-left: 10px;
}
.mar3 {
  margin-left: 69px;
}
.mar4 {
  margin-left: 51px;
  color: #005ea7!important;
}
.mar5 {
  margin-left: 25px;
}
.mar6 {
  margin-left: 10px;
}
.mar6 input {
  margin-top: 22px;
  float: left;
  margin-left: 19px;
  margin-right: -22px;
}
.mar7 {
  line-height: 20px;
  margin-top: 13px;
}
.mar7 p {
  color: #005ea7;
}
.mar7 p a {
  color: #005ea7;
}
.mar_t_1 {
  margin-left: 20px;
}
.mar_t_2 {
  margin-left: 239px;
}
.mar_t_3 {
  margin-left: 56px;
}
.mar_t_4 {
  margin-left: 90px;
}
.mar_t_5 {
  margin-left: 111px;
}
.mar_l_1 {
  margin-left: 20px;
  width: 186px;
  height: 36px;
  overflow: hidden;
}
.mar_l_2 {
  margin-left: 73px;
  width: 60px;
  text-align: center;
  overflow: hidden;
}
.mar_l_3 {
  margin-left: 25px;
  width: 60px;
  text-align: center;
  overflow: hidden;
}
.mar_l_4 {
  margin-left: 80px;
  width: 60px;
  text-align: center;
  overflow: hidden;
}
.mar_l_5 {
  margin-left: 54px;
}
.pages {
  width: auto;
  height: 34px;
  float: right;
  margin-top: 43px;
}
.pages a {
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  position: relative;
}
.page_pre_tip {
  background: transparent url("../images/page.jpg") repeat scroll 0px 1px;
  height: 15px;
  width: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
}
.pages a {
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  position: relative;
}
.page_num {
  width: 30px;
  height: 30px;
  border: 1px solid #D7D7D7;
  font-family: "Verdana";
  font-size: 14px;
  color: #333;
}
.page_num {
  position: relative;
}
.dian {
  width: 31px;
  color: #333;
  font-size: 14px;
}
.page_next {
  margin-right: 0px !important;
}
.page_next {
  color: #333;
}
.page_pre,
.page_next {
  width: 75px;
  height: 30px;
  border: 1px solid #D7D7D7;
  color: #B1B1B1;
  font-size: 14px;
}
.page_pre,
.page_num,
.page_next {
  background: white;
}
.page_next_tip {
  background: transparent url("../images/page.jpg") repeat scroll 0px -28px;
  height: 15px;
  width: 12px;
  position: absolute;
  top: 8px;
  right: 3px;
}
.page_next {
  color: #333;
}
.ff96 {
  color: #ff9600;
}
