@charset "utf-8";
.tbrown {
    color: #a0603d;
}

a {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.title_h2,
.title_h3 {
    height: 36px;
    margin-left: 20px;
    font-family: "microsoft yahei";
    font-size: 16px;
    line-height: 36px;
    color: #333;
}

.title_h3 {
    margin-left: 14px;
    font-size: 14px;
}

.headerNav {
    height: 44px;
    line-height: 44px;
    color: #333;
}

.headerNav span {
    color: #666;
}

.headerNav h2 {
    font-size: 18px;
    color: #666!important;
}

.headerNav a {
    color: #666;
}

.headerNav a:hover {
    color: #ec2c39;
}

.pisR {
    position: relative;
}

.detail_main {
    width: 1200px;
    margin: 0 auto;
}

.shop_nr {
    width: 100%;
}

.detail {
    width: 100%;
    height: 540px;
    overflow: visible;
    border: 1px solid #ddd;
    background: white;
}


/* gai */

.property {
    width: 488px;
    height: 540px;
    border-right: 1px solid #ddd;
}

.property_div {
    width: 478px;
    height: 72px;
    margin: 10px auto;
    margin-bottom: 25px;
    overflow: hidden;
    line-height: 72px;
}

.property_div .pre,
.property_div .next {
    position: absolute;
    top: 8px;
    display: block;
    width: 17px;
    height: 54px;
}

.property_div .pre {
    left: 0;
    background: url(../images/product_details/left.png) no-repeat;
}

.property_div .next {
    right: 0;
    background: url(../images/product_details/right.png) no-repeat;
}

.property_ul {
    width: 420px;
    height: 72px;
}

.property_ul li {
    float: left;
    width: 82px;
    height: 72px;
    padding-right: 6px;
    overflow: hidden;
    cursor: pointer;
}

.property_ul li img {
    width: 78px;
    height: 68px;
    padding: 1px;
    border: 1px solid #cecfd1;
}

.property_ul li img:hover,
.property_ul li img.checked {
    border: 1px solid #ff9600;
    background: #ff9600;
}

.wrap {
    width: 693px;
    margin-left: 18px;
    color: #666;
}

.wrap_name {
    width: 100%;
    height: 61px;
    margin-top: 15px;
    overflow: hidden;
}

.wrap_name h3 {
    height: 20px;
    padding-bottom: 5px;
    overflow: hidden;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: bold;
}

.wrap_name h4 {
    height: 20px;
    padding-bottom: 5px;
    overflow: hidden;
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #ff9600;
}

.wrap_div_fl {
    position: relative;
    width: 478px;
    overflow: visible;
}

.wrap_div_fl_ul {
    line-height: 30px;
}

.wrap_div_fl_ul li {
    clear: both;
    color: #999;
}

.wrap_div_fl_ul_li span {
    display: inline-block;
}

.wrap_div_fl_ul_li .value_no {
    margin-top: 7px;
}

.wrap_div_fl p.bbd_b {
    height: 1px;
    overflow: hidden;
}

.sku_sl .input_bt {
    float: left;
    width: 28px;
    height: 20px;
    padding: 0 4px 0 4px;
    margin: 5px 4px 0 4px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.sku_sl .jia,
.sku_sl .jian {
    margin-top: 8px;
}

.wrap_div_fr {
    position: relative;
    right: -1px;
    width: 204px!important;
    height: 732px!important;
    overflow: hidden;
    box-shadow: 1px 0 5px #ddd inset;
}

.wrap_div_fr_div {
    width: 231px;
    height: 627px;
    overflow: hidden;
}

.wrap_title {
    height: 38px;
    line-height: 38px;
}

.wrap_title span {
    color: #005ea7;
}

.wrap_div_fr_ul {
    margin: 13px 10px 0 10px;
    border-bottom: 1px dashed #ccc;
}

.wrap_div_fr_ul li {
    width: 100%;
    padding-bottom: 5px;
    overflow: hidden;
    clear: both;
}

.wrap_div_fr_ul li span {
    display: block;
    float: left;
}

.wrap_div_fr_ul li span.progress_bar {
    position: relative;
    width: 100px;
    height: 12px;
    margin: 0 13px 0 8px;
    overflow: hidden;
    background-color: #e5e4e4;
}

.wrap_div_fr_ul li span.progress_bar em {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 12px;
    background-color: #ec2c39;
}

.wrap_address {
    padding: 10px;
    line-height: 20px;
}

.wrap_address span,
.wrap_address label,
.wrap_address dt,
.wrap_address dd {
    display: inline-block;
    float: left;
    height: 40px;
}

.wrap_address label,
.wrap_address dt {
    width: 60px;
}

.wrap_address span,
.wrap_address dd {
    width: 150px;
}

.detail_js_fl {
    width: 200px;
    margin-bottom: 20px;
    overflow: visible;
}

.related {
    width: 228px;
}

.related .ddd_b {
    height: 32px;
    line-height: 32px;
    background: url(../images/product_details/title_bg.jpg);
}

.related .title_h2,
.browse .title_h2 {
    margin-left: 13px;
    font-size: 16px;
    color: #333;
}

.related ul,
.product_recommend_ul {
    width: 202px;
    margin: 13px 13px 0 13px;
    overflow: hidden;
}

.related ul li {
    float: left;
    width: 50%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}

.related ul li a {
    color: #666;
}


/*选项卡*/

.mailTab {
    width: 100%;
    height: 39px;
}

.mailTab li {
    float: left;
    width: 75px;
    height: 32px;
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #dbdee1;
    border-bottom: 1px solid #dbdee1;
    background: #fafafa;
    /*  background: url(../images/product_details/title_bg.jpg) top; */
}

.mailTab li.mailTab_li_none {
    width: 75px;
    border-right: 0;
}


/* .mailTab li:hover, */

.mailTab li.checked,
.mailTab li.mailTab_li_none:hover {
    width: 75px;
    height: 32px;
    line-height: 32px;
    color: #ff9600;
    background: url(../images/product_details/mailTab-li-hover.jpg);
}

.mailTab li.mailTab_li_none:hover {
    width: 76px!important;
}

.mailTab li.checked2 {
    width: 76px!important;
}

.tblue {
    color: #1191cf;
}

.zero {
    margin-left: 15px;
    font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 32px;
}

.product_recommend div.mailTablePlan {
    height: 400px;
    overflow: hidden;
    *height: 410px;
}

.product_recommend_ul {
    margin: 5px 10px 10px 10px;
}

.product_recommend_ul li {
    position: relative;
    display: block;
    height: 60px;
    padding-top: 5px;
    overflow: hidden;
    clear: both;
    border-bottom: 1px dotted #ddd;
}

.product_recommend_ul .ml10 {
    width: 120px;
}

.product_recommend_ul .wbww {
    display: block;
    height: 32px;
    overflow: hidden;
    line-height: 16px;
    color: #666;
}

.product_img img {
    display: inline-block;
    width: 155px;
    height: 123px;
    margin-left: -32px;
    border: none;
}

.left_Top_img {
    margin-left: 20px;
}

.left_Top_img img {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}

.browse_list {
    margin: 0 13px 13px 13px;
    overflow: hidden;
}

.browse_list * {
    font-family: arial, simsun;
}

.browse_list li {
    position: relative;
    width: 200px;
    padding-bottom: 13px;
    margin-top: 13px;
    overflow: hidden;
    clear: both;
    text-align: center;
    border-bottom: dashed 1px #dedede;
}

.browse_list span {
    display: block;
    margin-top: 5px;
    margin-left: -26px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    color: #e4393c;
}

.product_name {
    display: block;
    height: 51px;
    margin-top: 6px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #666!important;
}

.browse_more {
    display: block;
    padding-bottom: 10px;
    margin-right: 13px;
    font-size: 12px;
    text-align: right;
    color: #005ea7;
}

.browse_list li.browse_list_li_none {
    border: 0;
}

.detail_js_fr {
    width: 990px;
    overflow: hidden;
}

.detail_js_teast {
    position: relative;
    width: 988px;
    height: 210px;
    margin-bottom: 10px;
    border-top: 2px solid #999;
    border-bottom: 1px solid #ddd;
    background: white;
}

.detail_js_teast_t {
    margin: 16px 15px 20px 25px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

.detail_js_teast_s {
    font-family: "Arial";
    font-size: 48px;
    color: #ff9600;
}

.detail_js_main {
    height: 135px;
    overflow: hidden;
}

.ml24 {
    margin-left: 24px;
}

.detail_js_star {
    float: left;
    width: 120px;
    margin-right: 75px;
    margin-left: 45px;
}

.detail_js_star li {
    text-align: center;
}

.detail_js_star .see_btn {
    display: block;
    width: 95px;
    height: 29px;
    margin-left: 10px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #666;
    border-radius: 2px;
    background: url(../images/pro_xq.png) -12px 315px;
}

.detail_js_scorce {
    float: left;
    width: 160px;
    margin-right: 95px;
}

.detail_js_scorce li {
    clear: both;
    line-height: 27px;
    color: #666;
}

.detail_js_scorce li .comment_star {
    margin-top: 5px;
}

.detail_js_scorce li img {
    margin-right: 5px;
}

.detail_js_teast .mr30 {
    margin-right: 30px;
}

.detail_js_member {
    float: left;
    width: 465px;
}

.detail_js_member ul {
    height: 75px;
}

.detail_js_member ul li {
    margin: 0 20px;
}

.detail_js_member_info {
    margin: 10px;
    line-height: 22px;
}

.detail_js_member_info p {
    color: #666;
}

.co_6 {
    color: #666;
}

.detail_js_member_result {
    float: right;
    border-top: 1px solid #eee;
}

.detail_js_member_result p {
    margin-top: 5px;
    line-height: 24px;
    color: #888;
}

.detail_js_member_result p b {
    color: #666;
}

.detail_js_fr_nr {
    position: relative;
    width: 988px;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdee1;
}

.detail_js_fr_nr .mailTab {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 999;
    width: 988px;
    border-top: 1px solid #dbdee1;
    border-bottom: 1px solid #dbdee1;
    background: #fafafa;
    /* background: url(../images/product_details/title_bg.jpg); */
}

.detail_js_fr_nr .mailTab li {
    position: relative;
    top: -1px;
    width: auto;
    height: 39px;
    padding: 0 20px;
    line-height: 40px;
    color: #333;
    border-top: 1px solid #dbdee1;
    border-right: 0;
    border-bottom: 1px solid #dbdee1;
}

.detail_js_fr_nr .mailTablePlan {
    min-height: 114px;
    padding: 20px;
    overflow: hidden;
    clear: both;
    background: white;
}

.detail_js_fr_nr .mailTab li.checked {
    position: relative;
    top: -1px;
    height: 41px;
    line-height: 42px;
    border-top: 0;
    border-bottom: 0;
    background: url(../images/mailTab-li-hover2.png);
    /* border-right: 1px solid #ddd;
border-left: 1px solid #ddd; */
}

.detail_js_fr_nr div.w558 {
    width: 100%;
    height: 40px;
    background: url(../images/product_details/title_bg.jpg);
}

.specific li {
    display: inline-block;
    float: left;
    width: 33%;
    font-size: 12px;
    line-height: 24px;
    list-style: none;
    color: #666;
}

.specific li a {
    color: #005aa0;
}

.detail_js_diss {
    float: left;
    width: 350px;
    height: 125px;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.detail_js_diss ul li {
    float: left;
    width: 88px;
    height: 20px;
    margin: 5px 14px;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    color: #666;
    background: #fdedd2;
}

.detail_js_diss ul li span {
    color: #aaa;
}

.detail_js_diss p {
    margin-bottom: 12px;
    margin-left: 14px;
    color: #666;
}

.detail_js_diss_btn p {
    margin: 30px;
    color: #999;
}

.detail_js_teast .detail_js_diss_bt {
    display: block;
    width: 113px;
    height: 25px;
    margin-left: 45px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    background: url(../images/pro_xq.png) -14px 136px;
}

.main_user_pic {
    float: left;
    width: 60px;
    height: 105px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.main_dissplan {
    float: left;
    width: 840px;
    height: 128px;
    margin-left: 30px;
    overflow: hidden;
    line-height: 24px;
}

.main_dissplan p {
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: #666;
}

.main_dissplan .youyong_btn,
.main_dissplan .huif_btn {
    display: inline-block;
    width: 64px;
    height: 24px;
    margin-top: 71px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background: url(../images/pro_xq.png) 50px 60px no-repeat;
}

.huif_btn {
    background-position: -82px -338px !important;
}

.youyong_btn {
    margin-right: 10px;
    background-position: -14px -338px !important;
}

.detail_js_fr_title {
    width: 988px;
    height: 32px;
    padding-left: 14px;
    line-height: 32px;
    background: #f0333f;
}

.detail_js_fr_evaluate {
    width: 988px;
    padding: 11px 0;
    overflow: hidden;
    border-top: 0;
}

.detail_js_fr_evaluate_top {
    height: 120px;
    padding: 27px 0 38px;
    overflow: hidden;
    color: #666;
}

.detail_js_fr_evaluate .ui_page {
    margin-top: 52px;
    margin-right: 44px;
    margin-bottom: 45px;
}

.favorable_comment {
    float: left;
    width: 200px;
}

.favorable_comment label {
    color: #ff5c00;
}

.favorable_comment span,
.favorable_comment em {
    font-family: Arial;
    font-size: 20px;
    line-height: 60px;
    color: #e4393c;
}

.favorable_comment span {
    font-size: 60px;
}

.fraction {
    width: 250px;
    margin-left: 150px;
}

.fraction .wrap_div_fr_ul {
    border-bottom: 0;
}

.fraction .wrap_div_fr_ul b {
    display: block;
    float: left;
    width: 38px;
    overflow: hidden;
}

.fraction .wrap_div_fr_ul span.progress_bar {
    width: 100px;
}

.fraction .wrap_div_fr_ul label {
    display: block;
    float: left;
    width: 50px;
    text-align: left;
    color: #ae9abf;
}

.yg_evaluate {
    width: 150px;
    line-height: 40px;
}

.yg_evaluate a {
    color: #4666ba;
}

.yg_evaluate a.yg_evaluate_a {
    position: relative;
    display: block;
    width: 118px;
    height: 30px;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #fff;
    background: #ffb400;
}

.yg_evaluate_a s {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 120px;
    height: 32px;
    background-position: 0 -39px;
}

.detail_js_fr_evaluate_center {
    margin: 0 27px;
}

.detail_js_fr_evaluate_center li {
    position: relative;
    left: -17px;
    width: 100%;
    padding: 20px 0 20px 0;
    clear: both;
    border-bottom: 1px solid #e3e3e3;
}

.detail_js_fr_evaluate_center_l {
    float: left;
    width: 100%;
    overflow: hidden;
}

li.nostore {
    border: 1px dashed #ccc;
}

.sku_ul li.nostore:hover {
    padding: 7px;
    border: 1px dashed #ccc;
}

.evaluation_category {
    width: 100%;
    height: 30px;
    padding: 0 27px;
    overflow: hidden;
    line-height: 30px;
    background-color: #f5f5f5;
}

.evaluation_category_ul {
    width: 370px;
    color: #505050;
}

.evaluation_category_ul li {
    float: left;
    width: 66px;
    margin-right: 5px;
}

.evaluation_category_ul li a {
    color: #4666ba;
}

.evaluation_category_ul li label {
    color: #969696;
}

.evaluation_category_ul li a.checked {
    color: #505050;
}

.evaluation_category p.posiR {
    width: 200px;
    padding-left: 20px;
}

.evaluation_category p.posiR input.posiA {
    position: absolute;
    top: 9px;
    left: 0;
}

.member_information label {
    width: 90px;
}

.member_information span,
.member_information label {
    display: block;
    float: left;
    height: 20px;
    margin-right: 5px;
    overflow: hidden;
}


/* 2013-10-29 放大镜*/

.fl-pic {
    width: 435px;
    height: 72px;
    margin-left: 20px;
    overflow: hidden;
}

.jqzoom {
    position: relative;
    width: 488px;
    height: 385px;
    padding: 0;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

.jqzoom img {
    width: 100%;
    height: 100%;
}

.zoomdiv {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 100;
    display: none;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e4e4e4;
}

.bigimg {
    width: 1000px;
    height: 800px;
}

.jqZoomPup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    cursor: move;
    opacity: .5;
    border: 1px solid #aaa;
    background: #fede4f 50% top no-repeat;
    -khtml-opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
}

.detail_js_fr_nr .mailTablePlan_disn {
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.jqzoombox {
    margin-bottom: 24px;
}


/* 分页*/

.ui_page {
    height: 26px;
    margin-top: 158px;
    font-family: "宋体,Helvetica,sans-serif";
    line-height: 26px;
}

.ui_page_num b,
.ui_page_num a {
    display: block;
    float: left;
    height: 26px;
    margin-left: 5px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
}

.ui_page_prev,
.ui_page_cur,
.ui_page_next,
.ui_page_skipTo,
.ui_btn_s {
    height: 26px;
    line-height: 26px;
    background: url(../images/product_details/page.png);
}

.ui_page_prev {
    width: 65px;
    padding-left: 5px;
    color: #b1b1b1;
    background-position: 0 0;
}

.ui_page_next {
    width: 65px;
    padding-right: 5px;
    color: #b1b1b1;
    background-position: 0 -227px;
}

.ui_page_cur {
    width: 26px;
    font-size: 14px;
    color: #ff9600;
    background-position: 0 -29px;
}

a.ui_page_cur {
    color: #666;
}

a.ui_page_prev {
    color: #333;
    background-position: 0 -198px;
}

a.ui_page_next {
    color: #333;
    background-position: 0 -58px;
}

.ui_page_skip {
    margin-left: 35px;
    font-weight: normal;
}

.ui_page_skipTo {
    width: 34px;
    text-align: center;
    border: 0;
    background-position: 0 -116px;
}

.ui_btn_s {
    width: 44px;
    cursor: pointer;
    border: 0;
    background-position: 0 -87px;
}

.ui_text {
    display: block;
    float: left;
    margin-left: 5px;
    text-align: center;
    color: #666;
}


/*分页结束*/

.ico_z,
.ico_j {
    display: block;
    width: 80px;
    height: 19px;
    padding-left: 23px;
    line-height: 20px;
    cursor: pointer;
    background: url(../images/product_details/zang.png) no-repeat;
}

.ico_j {
    background-position: 0 -21px;
}

.browse_list b {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 16px;
    height: 25px;
    overflow: hidden;
    font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: url(../images/pro_xq.png);
}

b.pr_ico_1 {
    background-position: -28px -363px;
}

b.pr_ico_2 {
    background-position: 0 -26px;
}

b.pr_ico_3 {
    background-position: 0 -51px;
}

b.pr_ico_4 {
    background-position: -54px -363px;
}

b.pr_ico_5 {
    background-position: 0 -77px;
}

b.pr_ico_6 {
    background-position: 0 -77px;
}

.hot {
    display: inline-block;
    width: 29px;
    height: 17px;
    margin-left: 10px;
    background-position: 0 -246px;
}

.contrast {
    height: 27px;
    margin-top: 12px!important;
    margin-right: 27px;
}

.contrast_p,
.contrast_p2 {
    position: relative;
    float: right;
    height: 25px;
    margin-left: 13px;
    overflow: hidden;
    line-height: 25px;
    text-align: left;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contrast_p {
    width: 70px;
    padding-left: 29px;
    cursor: pointer;
    background: #f5f5f5;
}

.contrast_p input {
    position: absolute;
    top: 7px;
    left: 11px;
    *left: 7px;
    *top: 3px;
}

.contrast_p2 {
    padding: 0 10px;
}

.contrast_p2 a {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-top: 2px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.contrast_p2 img {
    width: 16px;
    height: 16px;
}

.contrast_p2 a:hover {
    border: 1px solid #ddd;
}

.contrast p.checked {
    color: #fff;
    border: 1px solid #ff9600;
    background: #ff9600;
}

.contrast_p2 label {
    color: #666;
}

.value_no,
.value_no em,
.sku_ul li i,
.jia,
.jian,
.cart_input,
.attention_input,
.product_recommend_ul i,
.yg_evaluate_a s,
.cuticon,
.hot,
.cart_title_ico,
.coupons_input {
    background: url(../images/product_details/but.png);
}

.jia,
.jian {
    float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 0;
}

.jia {
    background-position: 0 -205px;
}

.jian {
    background-position: 0 -223px;
}

.wrap_div_fl_dl,
.wrap_div_fl_dl_01 {
    width: 342px;
    overflow: visible;
    border-top: 1px solid #ddd;
}

.wrap_div_fl_dl_01 {
    width: 479px;
}

.wrap_div_fl_dl {
    height: 130px;
}

.wrap_div_fl_dl_01 dt p {
    color: #888;
}

.wrap_div_fl_dl_01 {
    height: 70px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/* gai */

.wrap_div_fl_dl p {
    float: left;
    width: 42%;
    height: 30px;
    padding-left: 8%;
    line-height: 30px;
    color: #999;
}

.wrap_div_fl_dl_01 p {
    position: relative;
    left: 3px;
    float: left;
    width: 85px;
    height: 40px;
    line-height: 30px;
}

.wrap_div_fl_dl dt,
.wrap_div_fl_dl_01 dt {
    height: 30px;
    background: #f7f7f7;
}

.wrap_div_fl_dl dd,
.wrap_div_fl_dl_01 dt {
    height: 30px;
    border-bottom: 1px solid #eee;
}

.wrap_div_fl_dl_01 i,
.wrap_div_fl_dl_01 s {
    position: absolute;
    top: 2px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url("../images/pro_xq.png");
}

.wrap_div_fl_dl_01 i {
    left: -3px;
    background-position: -17px -268px;
}

.wrap_div_fl_dl_01 s {
    right: -19px;
    background-position: -47px -268px;
}

.wrap_div_fl_dl_01 input {
    width: 55px;
    height: 20px;
    margin: 2px 0 2px 22px;
    text-align: center;
    border: 1px solid #ccc;
}

.light_red {
    color: #c90000;
}

.light_blue {
    color: #005aa0!important;
}

.cart_input,
.coupons_input,
.attention_input {
    height: 42px;
    cursor: pointer;
    background: url(../images/pro_xq.png);
}

.cart_input {
    width: 137px;
    background-position: -18px -14px;
}

.coupons_input {
    width: 115px;
    background-position: -14px -67px;
}

.attention_input {
    width: 70px;
    background-position: -16px -124px;
}

.wrap_div_fr {
    width: 199px;
    height: 544px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
    /* background: url(../images/sidpro_bg.png); */
}

.wrap_t {
    height: 50px;
    padding-left: 16px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.wrap_div_fr_div {
    width: 160px;
    margin: 0 auto;
}

.wrap_div_fr_div * {
    font-family: arial, simsun;
}

.wrap_div_fr_div ul {
    width: 103%;
    overflow: hidden;
}

.wrap_div_fr_div li p {
    position: relative;
}

.wrap_div_fr_div li p input {
    position: absolute;
    top: 5px;
    left: 15px;
}

.wrap_div_fr_div li {
    margin-bottom: 30px;
    line-height: 24px;
    text-align: center;
    color: #666;
}

.wrap_div_fr_div li span {
    color: #d0121b;
}

.wrap_div_fr_div li .text_over {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap_text {
    margin-left: 7px;
    font-size: 14px;
    color: #ff9600;
}

.compare {
    width: 855px;
    height: 225px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.compare label {
    margin: 10px 20px 0 15px;
}

.compare dt {
    height: 45px;
    background: white;
}

.compare dd.fs15 p {
    font-family: "Microsoft YaHei";
    font-size: 15px;
    color: #666;
}

.compare dd {
    width: 103%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-overflow: ellipsis;
}

.compare dd p {
    float: left;
    font-size: 12px;
    text-align: center;
    border-right: 2px solid #f5f5f5;
}

.compare dd input {
    position: absolute;
    top: 10px;
}

.compare dt input {
    width: 136px;
    height: 25px;
    color: #666;
    border: 1px solid #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef), color-stop(1, #fff), color-stop(3, #efefef));
}

.compare_t {
    margin-right: 20px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #ff9600;
}

.compare .serial_number {
    width: 56px;
}

.compare .pro_name {
    width: 220px;
}

.compare .supply_price {
    width: 90px;
}

.compare .adv,
.compare .disadv {
    width: 182px;
}

.compare .select {
    position: relative;
    width: 118px;
}

.compare p {
    color: #666;
}

.bf5 {
    background: #f5f5f5;
}

.bcf8 {
    background: #caddf8;
}

.bfd3 {
    background: #ffd3c0;
}

.be2 {
    background: #e2ffe2;
}

.bd6 {
    background: #d6effc;
}

.bf3 {
    background: #f3cff1;
}

.co6 {
    color: #666;
}

.comment_star {
    width: 69px;
    height: 17px;
    margin-top: 9px;
    background: url(../images/product_details/product_rating_blank_star.gif) repeat-x;
}

.comment_star s {
    display: block;
    height: 17px;
    background: url(../images/product_details/product_rating_full_star.gif) repeat-x;
}

.comment_star span.fl {
    display: blcok;
}

.main_dissplan .cl p {
    color: #666;
}

.main_dissplan .fr {
    color: #aaa;
}

.co_3 {
    color: #333!important;
}

.text_over a {
    color: #666;
}

.main_dissplan span {
    color: #888;
}

.main_user_pic p {
    color: #999;
}

.wrap_div_fl_dl a {
    text-decoration: none;
    color: #005aa0;
}

.question {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-right: 24px;
    background: url("../images/pro_xq.png");
    background-position: -17px -465px;
}

#wrap_text {
    float: left;
    width: 35%;
    height: 40px;
    padding-left: 0;
    line-height: 30px;
}

.light_blue {
    color: #005aa0;
}

.que_2 {
    margin-right: 0;
}

.dj_p {
    margin-left: 11px;
}

.talk {
    position: absolute;
    z-index: 998;
    z-index: 9999;
    width: 265px;
    height: 43px;
    line-height: 50px;
    text-indent: 2em;
    background: url("../images/talk2.png") no-repeat scroll center top transparent;
}

.talk a {
    margin-right: 3px;
    color: #005aa0;
}

.wrap_div_fl_dl {
    position: relative;
}

.tip1 {
    position: absolute;
    top: 71px;
    left: 40px;
    display: block;
}

.wrap_div_fl_dl_01 {
    position: relative;
    overflow: visible;
}

.tip2 {
    position: absolute;
    top: 63px;
    left: -140px;
    z-index: 1000;
}

.tip2 a {
    color: #005aa0;
}

.tip1 a:hover {
    text-decoration: underline!important;
}

.mailTab li:hover {
    color: #ff9600;
}

.lqyp {
    position: relative;
}

.lq_pro {
    position: absolute;
    bottom: 40px;
    left: 147px;
    z-index: 100;
    display: none;
    width: 259px;
    height: 110px;
    background: transparent url("../images/pro_get.png") repeat scroll 0 0;
}

.lq_pri {
    margin-top: 25px;
    margin-left: 39px;
}

.lq_pro label {
    font-size: 12px;
    color: #666;
}

.yp_pri {
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    color: #ff9600;
}

.lq_num {
    margin-top: 15px;
    margin-left: 28px;
}

.lq_num label {
    float: left;
}

.lq_num i {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #ccc;
    background: white;
}

.lq_num em {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #ccc;
    background: white;
}

.lq_num input {
    width: 48px;
    height: 18px;
    margin: 5px;
    margin-top: 0;
    border: 1px solid #ccc;
}

.yp_num > * {
    float: left;
}

.tc_addcar {
    position: absolute;
    bottom: 41px;
    left: -2px;
    display: none;
    width: 310px;
    height: 126px;
    border: 0;
    background: url(../images/add_suc.png);
}

.tc_addcar p {
    width: 238px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.tc_addcar p:first-child {
    height: 41px!important;
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 40px;
}

.dagou {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20px;
    background: url(../images/dagou.png) no-repeat;
}

.ta_p1 {
    width: 248px!important;
    margin-top: 14px!important;
}

.ta_p2 {
    padding: 5px;
}

.go_account {
    float: left;
    width: 104px;
    height: 30px;
    margin-top: 2px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: white;
    background: #ff9600;
}

.go_account:hover {
    color: white!important;
}

.buy_ahead {
    float: left;
    width: 104px;
    height: 30px;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #666;
    background: #f3f3f3;
}

.shut {
    position: absolute;
    top: 15px;
    right: 8px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/shut.png) no-repeat;
}

.pri_data {
    position: absolute;
    top: 77px;
    left: 0;
    width: 490px;
    height: 58px;
    padding: 15px 0;
    background: #ff9600;
}

.pri_data ul {
    position: relative;
    height: 100%;
}

.pri_data ul li {
    float: left;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #ffc000;
}

.pri_data ul li em {
    color: white;
}

.pri_data ul li p {
    color: white;
}

.pri_data .supply_pri {
    height: 64px;
    margin-top: 6px;
    font-family: "microsoft yahei";
    font-size: 30px;
}

.pri_data .supply_pri span {
    font-family: "verdana";
    font-size: 32px;
    font-weight: bold;
}

.pri_data .supply_pri em {
    display: inline-block;
    font-family: "microsoft yahei";
    font-size: 24px;
    font-weight: bold;
}

.pri_data .supply_pri i {
    display: inline-block;
    font-family: "verdana";
    font-size: 24px;
    font-weight: bold;
}

.pri_data .origin_pri {
    margin-top: 21px;
    font-size: 16px;
}

.pri_data .origin_pri s {
    margin-left: -7px;
    font-family: verdana;
    font-size: inherit;
}

.pri_data .origin_pri em {
    display: inline-block;
    font-family: "microsoft yahei";
    font-size: 16px;
}

.pri_data .sell_pri {
    margin-top: 21px;
    font-family: verdana;
    font-size: 12px;
}

.pri_data .sell_pri i {
    display: inline-block;
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
}

.pri_data .sell_pri em {
    display: inline-block;
    font-family: "microsoft yahei";
    font-size: 16px;
}

.pri_data .bn {
    border-right: none!important;
}

.wrap_div_fl_dl_01 div {
    position: relative;
    top: 13px;
    line-height: 27px;
}


/* gai */

.wrap_div_fl_dl_01 label {
    float: left;
    margin-right: 4px;
    color: #888;
}

.wrap_div_fl_dl_01 span {
    margin-left: 41px;
    color: #888;
}

.ml50 {
    font-style: normal;
    font-weight: normal;
    color: #333!important;
}

.ad_co {
    font-style: normal;
    font-weight: normal;
    color: #333!important;
}

.wrap_div_fl_dl dd {
    height: 80px!important;
}

.wenhao {
    margin-top: 27px;
    margin-left: 83px;
}

.dbz_num_bt > * {
    display: inline-block;
}

.dbz_num_bt {
    margin-left: 3px;
}

.dbz_num_bt input {
    width: 49px;
    height: 17px;
    text-align: center;
    border: 1px solid #e3e3e3;
}

.dbz_num_bt i,
.dbz_num_bt em {
    width: 17px;
    height: 17px;
    margin: 3px;
    line-height: 17px;
    text-align: center;
    color: #333;
    border: 1px solid #e3e3e3;
}

.compare_box {
    position: relative;
}

.canva_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 339px;
    height: 226px;
}

.coupon_r {
    right: 26px!important;
    left: auto!important;
}

.coupon_r2 {
    left: 155px!important;
}

.car_n_pro {
    background: url(../images/car_n_pro.png) center no-repeat !important;
}

.other_tip {
    width: 1000px;
    height: 181px;
    padding-top: 9px;
    margin-bottom: 10px;
}

.wrap {
    height: 540px;
}

.o_tip_wfz {
    height: 100px;
    margin-bottom: 12px;
}

.o_tip_wfz > div {
    float: left;
}

.o_tip_wfz .wxin {
    width: 352px;
    height: 80px;
    padding: 10px;
    background: #eee;
    background: white;
}

.o_tip_wfz .wxin img {
    float: left;
}

.o_tip_wfz .wxin .wx_p {
    margin-top: 16px;
    margin-left: 104px;
}

.o_tip_wfz .wxin .wx_p .p1 {
    margin-bottom: 2px;
    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: bold;
}

.o_tip_wfz .wxin .wx_p .p2 {
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666;
}

.o_tip_wfz .fw_zf {
    margin-left: 20px;
}

.o_tip_wfz .fw_zf .ot_fw {
    margin-top: 10px;
    margin-bottom: 25px;
}

.o_tip_wfz .fw_zf label {
    position: relative;
    top: 5px;
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.o_tip_wfz .fw_zf ul {
    float: left;
}

.o_tip_wfz .fw_zf ul li {
    float: left;
    width: 118px;
    line-height: 25px;
    white-space: nowrap;
    color: #666;
}

.o_tip_wfz .fw_zf ul li i {
    display: inline-block;
    float: left;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background: url(../images/tip_icon.png) no-repeat;
}

.o_tip_wfz .fw_zf .f3,
.o_tip_wfz .fw_zf .z3 {
    margin-right: 22px;
}

.o_tip_wfz .fw_zf .f1 i {
    background-position: 0 0;
}

.o_tip_wfz .fw_zf .f2 i {
    background-position: -40px 0;
}

.o_tip_wfz .fw_zf .f3 i {
    background-position: -83px 0;
}

.o_tip_wfz .fw_zf .f4 i {
    background-position: -124px 0;
}

.o_tip_wfz .fw_zf .z1 i {
    background-position: 0 -50px;
}

.o_tip_wfz .fw_zf .z2 i {
    background-position: -42px -50px;
}

.o_tip_wfz .fw_zf .z3 i {
    background-position: -84px -50px;
}

.o_tip_wfz .fw_zf .z4 i {
    background-position: -125px -50px;
}

.wrap_div_fl .sku {
    border-top: 1px solid #ddd;
}

.wrap_div_fl .sku .wrap_div_fl_dl_01 {
    height: 51px;
    margin-top: -2px;
    border-top: none!important;
}

.new_item {
    margin-top: 100px;
}

.new_item em {
    display: inline-block;
    width: 72px;
    margin-right: 5px;
    text-align: right;
}

.dbz_num_bt em {
    width: 19px;
    text-align: center;
}

.mb20 > .yellow_tt {
    margin-left: -9px;
}

.wrap_div_fl_ul_li strong {
    float: left;
    font-weight: normal;
    color: #333;
}

.dbz_num_bt i,
.dbz_num_bt em:hover {
    cursor: pointer;
}

.dbz_help {
    height: 130px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.dbz_help .em {
    float: left;
    color: #999;
}

.dbz_help .change {
    position: relative;
    top: 0;
    display: inline-block;
    width: 400px;
    height: auto;
    font-size: 12px;
    color: #888;
}

.dbz_help .change p {
    position: relative;
    top: -5px;
    width: 363px;
    line-height: 24px;
}

.dbz_help .pri {
    margin-right: 3px;
    margin-left: 19px;
    font-family: arial;
    font-weight: bold;
    color: #ffa200;
}

.yellow_tt {
    color: #ffa200!important;
}

.dbz_help .type {
    display: inline-block;
    margin-top: -3px;
    margin-bottom: 9px;
}

.dbz_help .type span.fb {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 133px;
    overflow: hidden;
    white-space: nowrap;
}

.dbz_help .type .pri {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 52px;
    overflow: hidden;
    white-space: nowrap;
}

.xq_main {
    height: auto;
    padding-bottom: 40px;
    margin-bottom: -40px;
    background: #f3f3f3;
}

.browse {
    background: white;
}

.browse .ddd_b {
    background: #fafafa;
}

.pro_banner_img {
    width: 970px;
    height: auto;
    margin-left: -10px;
}

.wrap_t {
    position: relative;
}

.wrap_t .btn {
    position: relative;
    right: 10px;
    float: right;
    line-height: 60px;
}

.wrap_t .btn em,
.wrap_t .btn i {
    display: inline-block;
    width: 13px;
    height: 14px;
    border: 1px solid #ddd;
    background: url(../images/ri_le.png) no-repeat;
    background-position: 4px;
}

.wrap_t .btn em:hover,
.wrap_t .btn i:hover {
    border-color: #999;
}

.wrap_t .btn i {
    background-position: -13px;
}

.radio_show {
    position: absolute;
    bottom: 15px;
    width: 200px;
    text-align: center;
}

.radio_show li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto 3px;
    text-indent: -9999px;
    border-radius: 10px;
    background: #666;
}

.radio_show .on {
    background: #ef790b!important;
}

.tab_box {
    width: auto;
    height: 627px;
}

.tab_box ul {
    float: left;
    margin: auto 25px;
}

.add_tab {
    display: none;
    float: right;
    width: auto;
    height: 100%;
    margin-right: 147px;
}

.add_tab .d1 {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 140px;
    height: 41px;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: white;
    border: none;
    background: #ff9600;
}

.add_tab .d2 {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 110px;
    height: 41px;
    margin-left: 8px;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: white;
    border: none;
    background: #0ec416;
}

.add_tab .tc {
    position: relative;
}

.add_tab .tc .tc_addcar {
    bottom: -133px;
    left: 1px;
    display: none;
    border: 1px solid #ff9600;
    background: #fffded;
}

.add_tab .tc .lq_pro {
    bottom: -116px;
    left: 154px;
    border: 1px solid #0ec416;
    background: #fffded;
}

.add_tab .tc .lq_pro:after {
    position: absolute;
    top: -6px;
    left: 51px;
    display: block;
    width: 10;
    height: 10;
    content: url(../images/tc_jt.png);
}

.add_tab .tc .tc_addcar:after {
    position: absolute;
    top: -6px;
    left: 51px;
    display: block;
    width: 10px;
    height: 10px;
    content: url(../images/tc_jt_h.png);
}

.add_tab .tc .lq_pro div {
    position: absolute;
    top: -18px;
    width: 100px;
    height: 26px;
}

input[type="text"] {
    font-family: arial;
    color: #666;
    text-align: center;
}

.wrap_div_fr_div img {
    border: 1px solid #eee;
}

.wrap_t .btn em,
.lq_num i,
.lq_num em,
.wrap_t .btn i,
.add_tab .d1,
.add_tab .d2,
.type a:hover {
    cursor: pointer;
}

.wrap_div_fl_dl_01,.dbz_help,.lq_pro {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* duibi style start*/

.dbi_box {
    background: white;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 582px;
    border: 1px solid #d9d9d9;
    position: fixed;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    text-align: center;
    z-index: 999;
}

.dbi_start {
    width: 70px;
    height: 22px;
    background-color: #ff9600;
    color: white;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clear_dbi {
    color: #136bad;
    display: block;
    margin-bottom: 10px;
}

.dbi_pro img {
    margin-top: 10px;
    width: 70px;
    height: 55px;
    overflow: hidden;
    margin-bottom: 5px;
}

.dbi_pro {
    width: 92px;
    height: 129px;
    border-bottom: 1px solid #eee;
}

.dbi_pro p {
    margin-bottom: 5px;
}

.dbi_pro .dp_w {
    width: 92px;
    height: 30px;
    overflow: hidden;
}

.dbi_pro p a {
    color: #666;
    font-family: arial, simsun;
}

.dbi_pro p em {
    font-weight: bold;
    margin-left: 2px;
    font-family: Verdana;
    font-size: 14px;
    color: #ff9600;
    float: left;
}

.dbi_pro p i {
    color: #136bad;
    float: right;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.dbi_pro p i:hover {
    text-decoration: underline;
}

.dbi_un em {
    width: 48px;
    height: 48px;
    background: #f6f6f6;
    border: 1px solid #d4d4d4;
    line-height: 48px;
    text-align: center;
    font-family: arial;
    color: #e2e2e2;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 45px;
}

.dbi_list {
    width: 92px;
    height: 576px;
    padding: 0px 4px;
}

.dbi_pro_list {
    height: 520px;
    overflow-y: hidden;
}

.cl {
    clear: both;
}

.dbi_un p {
    color: #c6c6c6;
}

.dbi_un {
    width: 92px;
    height: 129px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.dbi_hs {
    background: url(../images/dbi_hs.png) no-repeat -26px 0px;
    width: 23px;
    height: 100px;
    position: absolute;
    right: -23px;
    top: -1px;
}

.dbi_hs,
.dbi_start,
.clear_dbi,
.dbi_pro p i:hover {
    cursor: pointer;
}

.dbi_hide {
    bottom: 0px!important;
    top: auto!important;
    background-position: 0px!important;
}


/* duibi style end*/
