@charset "utf-8";
* {
    margin:0;
    padding:0;
    font-family: "宋体";
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 12px;
    font-weight: normal;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #BB131B;
    text-decoration: underline;
}
a:link {
    color: #333;
    text-decoration: none;
}
em,i {
    font-style:normal;
    display: block;
}
ul {
    list-style:none;
}
.orange{
    color: #ff9600;
}
.top {
    width:100%;
    height:35px;
    position:relative;
    margin:0 auto;
    background: #f2f2f2;
}
.top_box {
    width:1200px;
    height:35px;
    position:relative;
    margin:0 auto;
    line-height: 35px;
}
.home_link {
    position: absolute;
    left: 0px;
}
.home_link i {
    background: transparent url("../images/home.jpg") repeat scroll 0% 0%;
    width: 17px;
    height: 16px;
    float: left;
    margin-top: 9px;
}
.home_link span {
    margin-left: 3px;
}
.login {
    position: absolute;
    left: 126px;
}
.login a{
  color: #666;
}
.login a:nth-child(2){
  margin-left: 28px;
}
.login a:nth-child(3){
  margin-left: 13px;
}
.login {
    color: #666666;
}
.topnav {
    position: absolute;
    left: 639px;
}
.shortcut-account {
  width: 78px;
}
.topnav li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding:0 5px;
    color: #666;
}
.topnav li a{
  color: #666;
}
.topnav li.v-space {
    height: 12px;
    margin-top:12px;
    border-right: 1px solid #ccc;
    padding: 0;
}
.topnav li span {
    font-weight: 400;
    font-family: Verdana;
    padding: 0;
}
.menu-box {
  display: none;
  background: white;
  z-index: 9998;
  *zoom: 1;
  zoom: 1;
  position: absolute;
  /*padding: 5px 0;*/
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 88px;
  margin-left: -6px;
  margin-top: -1px;
}

.topnav li:hover .ar-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.topnav li.hover {
  background: #fafafa;
}
.ar-down {
  border-left: 5px solid #f2f2f2;
  border-top: 5px solid #666;
  border-right: 5px solid #f2f2f2;
  line-height: 0px;
  height: 0px;
  display: inline-block;
  -moz-transition: ease-in 0.1s 0s;
  -o-transition: ease-in 0.1s 0s;
  -webkit-transition: ease-in 0.1s;
  -webkit-transition-delay: 0s;
  transition: ease-in 0.1s 0s;
}

.menu-box a{
    display: block;
    padding:0 17px;
    height: 30px;
    line-height: 30px;
}

.topnav li:nth-child(4) a {
    border-right: none;
}
.topnav li:nth-child(4) span {
    color: #ff9600;
}
.save_link {
    float: right;
}
.save_link i {
    background: transparent url("../images/save.jpg") repeat scroll 0% 0%;
    width: 19px;
    height: 16px;
    float: left;
    margin-top: 9px;
    margin-right: 2px;
}
.head {
	position:relative;
	overflow:visible;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.head:after {
  display: table;
  clear: both;
  content: " ";
}
/* line 150, ../sass/public.scss */
.head .logo {
  float: left;
  position: relative;
  width: 315px;
  height: 82px;
  padding: 9px 0;
}
.head .search {
  float: left;
  width: 427px;
  height: 60px;
  position: relative;
  padding-top: 25px;
}
.head .search .text {
  width: 334px;
  float: left;
  line-height: 24px;
  height: 24px;
  padding: 4px;
  border-width: 2px 0 2px 2px;
  border-color: #0ec416;
  border-style: solid;
  outline: 0;
  font-size: 14px;
}
.head .search .button {
  float: left;
  width: 82px;
  height: 36px;
  background: #0ec416;
  border: none;
  font-size: 16px;
  cursor: hand;
  color: white;
}
.head .hot-text {
  padding-top: 10px;
  height: 20px;
  line-height: 20px;
  width: 426px;
  overflow: hidden;
  font-size: 12px;
  font-family: SimSun;
  color:#999;
}
.hot-text a{
	color:#999;
}
.hot-text a:nth-child(1){
	color:#ff9600;
}
.head-box .hot-text a {
  margin-right: 10px;
}
.ff96{
  color: #ff9600!important;
}
.head .top-cart {
  float: left;
  height: 36px;
  width: 123px;
  margin-left: 73px;
  margin-top: 25px;
  line-height: 36px;
  text-align: center;
  background: #f2f2f2;
  border: 1px solid #ddd;
}
/* line 216, ../sass/public.scss */
.head .top-cart a {
  padding-left: 13px;
  font-size: 12px;
  font-family: SimSun;
}
/* line 222, ../sass/public.scss */
.head .top-qrcode {
  float: right;
  padding-top: 21px;
}
/* line 225, ../sass/public.scss */
.head .top-qrcode img {
  margin-right: 65px;
  width:60px;
  height:60px;
}
/* line 228, ../sass/public.scss */
.head .top-qrcode span {
  position: absolute;
  width: 60px;
  margin: 30px 0 0 -60px;
  font-family: SimSun;
  font-size: 12px;
  color: #999;
}

.ic-cart {
    background-image: url('../images/icon_two.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 17px;
    display: inline-block;
    position: absolute;
    margin: 10px 0 0 -82px;
    *margin: 0 0 0 -82px;
    background-position: 0 -74px;
}

.ic-right {
    background-image: url('../images/icon_two.png');
    background-repeat: no-repeat;
    height: 10px;
    width: 5px;
    display: inline-block;
    position: absolute;
    margin: 13px;
    *margin: 8px 0 0 5px;
    background-position: 0 -230px;
}

.cart_count {
    position: absolute;
    left: 816px;
    top: 28px;
}
.wechat {
    position: absolute;
    right: 50px;
    top: 16px;
}
.search_box button {
    background: transparent url("../images/search.jpg") repeat scroll 0% 0%;
    width: 80px;
    height: 38px;
    border: medium none;
    position: absolute;
    top: 25px;
    left: 352px;
}
.search_nav {
    margin-top: 5px;
}
.search_box input {
    width: 350px;
    height: 35px;
    margin-top: 25px;
    font-size: 14px;
    font-family: "宋体";
    color: #999999;
    line-height: 35px;
}
.cart_count a {
    display: block;
    width: 126px;
    height: 36px;
    background: transparent url("../images/cart.jpg") repeat scroll 0% 0%;
}
.search_nav span a {
    color: #d0121b;
}
.home_link span a {
    color: #666666;
}
.search_nav a {
    color: #999999;
}
.save_link span {
    color: #666666;
}
.search_nav {
    color: #999999;
}
.wechat span {
    width: 68px;
    height: 30px;
    display: block;
    position: absolute;
    top: 29px;
    color: #999999;
    left: -10px;
}
.wechat img {
    position: absolute;
    left: -71px;
}
.nav {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    background: #0ec416;
}
.nav_box {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}
.allpro {
    width: 210px;
    height: 100%;
    position: absolute;
    left: 0px;
    background: #FF9600 none repeat scroll 0% 0%;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #FFF;
    line-height: 40px;
    text-align: center;
}
.main_nav {
    width: auto;
    height: auto;
    position: absolute;
    left: 214px;
    top: 8px;
}
.main_nav li {
    float: left;
    padding-left: 23px;
    padding-right: 23px;
}
.main_nav a {
    color: white;
    font-family: "微软雅黑";
    font-size:16px;
}
.nav_word {
    position: absolute;
    right: 0px;
    top: 10px;
    font-family: "宋体";
    font-size: 18px;
    color: white;
    background: url(../images/slogan.jpg);
    width: 215px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: -10px;
}



.bottom_line_banner {
    width: 100%;
    height: 70px;
    position: relative;
    margin: 40px auto 0px;
    overflow: hidden;
    text-align: center;
    background: none repeat scroll 0% 0% rgb(14, 196, 23);
}
.bottom_line_banner img {
    height: 70px;
    text-align: center;
    width: 1200px;
    position: relative;
    margin: 0px auto;
}
.bottom_nav {
    width: 1200px;
    height: 176px;
    position: relative;
    margin: 20px auto 0px;
    border-bottom: 1px solid #e3e3e3;
}
.bt_logo {
    width: 267px;
    height: 151px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.bt_nav_list {
    width: 913px;
    height: 154px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.bt_nav_list dl {
    float: left;
    margin-left: 59px;
    width: 116px;
}
.bt_nav_list dt a {
    font-family: "微软雅黑";
    font-size: 16px;
}
.bt_nav_list dd {
    margin-bottom: 5px;
}
.bt_nav_list dt {
    margin-bottom: 10px;
}
.footer {
    width: 416px;
    height: 130px;
    position: relative;
    margin: 20px auto 0px;
}
.footer_subnav a {
    color: #666;
}
.copyright {
    text-align: center;
    color: #666666;
}
.footer_subnav {
    text-align: center;
    margin-bottom: 5px;
}
.ts_right li {
    margin-top:-2px;
}
em {
    background-repeat: no-repeat;
}
.suc_c_pic img {
    border: none;
}
.ep_pro_bg img {
    border: none;
}
.banner_pro img {
    border: none;
}
.ts_right img {
    border: none;
}

/* 购物车css*/
  .cartList {
  display: none;
  position: absolute;
  width: 350px;
  background: #FFF none repeat scroll 0% 0%;
  cursor: pointer;
  border: 1px solid #CCC;
  z-index: 10000;
  top: 63px;
  right: 260px;
}
.clistSorll {
  padding: 5px 5px 0px;
  max-height: 265px;
  overflow-y: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}
.cartListLi {
  height: 67px;
  border-bottom: 1px dashed #CCC;
  padding-top: 5px;
}
.cartCommImg {
  width: 78px;
  height: 58px;
  overflow: hidden;
  border: 1px solid #F3F3F3;
  float: left;
}
.cartCommInfo {
  overflow: hidden;
  float: right;
  height: 60px;
  width: 230px;
  position: relative;
}
.cartCommInfo .tit {
  width: 150px;
  height: 60px;
  line-height: 20px;
  color: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.cartCommInfo .tit {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
}
.cartCommInfo .tit a {
  color: #666;
}
.cartCommInfo .pic {
  position: absolute;
  right: 0px;
  top: 0px;
}
.cartCommInfo .pic {
  color: #F00;
}
.cartCommInfo .delThis {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  color: #005EA7;
}
.head .top-qrcode span{
  margin-left: -60px!important;
}
.goCart {
    margin-top: -1px;
    background: #F5F5F5;
    text-align: right;
    padding: 10px 5px;
    height: 50px;
    overflow: hidden;
}
.goCart a {
  width: 121px;
  height: 30px;
  line-height: 135px;
  color: #FFF;
  display: inline-block;
  background: transparent url("../images/mall_cart.png") no-repeat scroll 0% 0%;
}
.goCart i,.goCart em {
  font-size: 14px;
  color:#e4393c;
  display: inline-block;
}
.goCart em {
  font-size: 16px;
  font-weight: bold;
}
.goCart p {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
    margin-top: -5px;
}
.white_line {
  background: #FFF none repeat scroll 0% 0%;
  height: 2px;
  width: 124px;
  position: absolute;
  top: -2px;
  right: 0px;
}

/* 底部横幅链接样式 */
.blb {
  width: 1200px;
  height: 100%;
  position: relative;
  margin:0 auto;
}
.bl_a {
  width: 1200px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.bl_a a {
  float: left;
  height: 100%;
}
.bl_a1 {
  width: 160px;
  margin-left: 0px;
}
.bl_a2 {
  width: 182px;
  margin-left: 13px;
}
.bl_a3 {
  margin-left: 18px;
  width: 220px;
}
.bl_a4 {
  margin-left: 18px;
  width: 206px;
}
.bl_a5 {
  margin-left: 20px;
  width: 170px;
}
.bl_a6 {
  margin-left: 20px;
  width: 160px;
}
/* 底部横幅样式结束 */



/* 下拉导航开始 */
.all_subnav {
    display: none;
    width: 206px;
    height: 480px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-left: 2px solid #FF9600;
    border-right: 2px solid #FF9600;
    background-color: #F8F8F8;
    background-image: url("../images/subnav.jpg");
    background-position: -1px 100%;
    z-index: 999;
}
#ca-1 {
    padding-top: 16px;
}
.sn_ul > li {
    width: 197px;
    height: 56px;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
}
.tip_wulong {
    background: transparent url("../images/wulong.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tea_title span a {
    font-family: "微软雅黑";
    font-size: 16px;
}
.pro_nav_list li {
    float: left;
    margin-top: 7px;
    margin-right: 13px;
    position: relative;
    left: 7px;
}
.pro_nav_list li a {
    color: #666;
}
.sn_ul .h-space {
    width: 186px;
    height: 1px;
    background: #EEE none repeat scroll 0% 0%;
    margin-left: 12px;
}
.all_subnav{
    position: relative;
    margin: 0 auto;
}
.sn_ul{
    position: absolute;
    left: 0px;
    top: 0px;
}
.ca-item-hover .tip_lvcha {
    background: transparent url("../images/lvcha-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 23px;
    float: left;
    margin-right: 6px;
}
.tip_lvcha {
    background: transparent url("../images/lvcha.png") no-repeat scroll center center;
    width: 25px;
    height: 23px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_wulong {
    background: transparent url("../images/wulong-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_hongcha {
    background: transparent url("../images/hongcha-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tip_hongcha {
    background: transparent url("../images/hongcha.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_baicha {
    background: transparent url("../images/baicha-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tip_baicha {
    background: transparent url("../images/baicha.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_heicha {
    background: transparent url("../images/heicha-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tip_heicha {
    background: transparent url("../images/heicha.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_baozhuan {
    background: transparent url("../images/baozhuang-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tip_baozhuan {
    background: transparent url("../images/baozhuang.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.ca-item-hover .tip_chaju {
    background: transparent url("../images/chaju-hover.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.tip_chaju {
    background: transparent url("../images/chaju.png") no-repeat scroll center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}
.pro_nav_list{
    height: 26px;
    overflow: hidden;
    position: relative;
    top: -14px;
    left: -2px;
    line-height: 18px;
    clear: left;
}
.tea_title span {
  float: left;
  height: 38px;
  position: relative;
  top: -8px;
}

