@charset "utf-8";
.main{width:100%}
.paying_main{width:990px;margin:0 auto;padding-top: 16px;}
/*header*/
.oteao_header{width:100%;}
.oteao_header_main{width:990px;margin:0 auto;}
/*login_plan*/
.oteao_toolbar{background:#f2f2f2;height:29px;line-height:29px;border-bottom:1px solid #e5e5e5;margin-bottom:20px;}
.oteao_toolbarmain{width:990px;margin:0 auto;height:31px;position: relative;}
.oteao_toolrightbar a{border-right:1px solid #000;padding:0 12px;}
.oteao_logo {
    width: 275px;
    height: 90px;
    background: transparent url("../images/c_logo.jpg") no-repeat scroll 0% 0%;
    margin-top: -8px;
    margin-bottom: 6px;
}
.orange{color: #ff9600;}
/*end login_plan*/
/*end header*/


/* pay_success start */
.pay_s_box{
    width: 100%;
    height: 240px;
    border-top:2px solid #5d2924;
    background: white;
    margin-bottom: 220px;
    margin-top: 20px;
}
.psb_num{
    text-align: center;
    position: relative;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    color: #333;
    font-weight: bold;
    margin-top: 22px;
}
.psb_num em{
    font-style: normal;
    color: #ff9600;
    font-family: "Arail";
}
.gou_s{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/check_ok.jpg) no-repeat;
    position: relative;
    top: 11px
}
.psb_other{
    text-align: center;
    margin-top: 10px;
}
.psb_other a{
    color: #005ea7!important;
    margin-left: 10px;
}
.psb_other a:hover{
    text-decoration: underline;
}
.psb_other span{
    position: relative;
    left: -41px;
}

/* pay_success end */

.cart_foot{text-align:center;}
.cart_foot a,.cart_foot p{color:#666666;}
.cart_foot a{border-right:1px solid #666666;padding:0 10px}



.bgcolor{
	background: #f6f4e8;
	height: 680px;
}
.oteao_header{background: white;}
