@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    font: inherit;
    font-size: 12px;
    font-family: "Simsun,arial,microsoft yahei,Verdana";
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}

a:hover {
    text-decoration: underline;
}

.cl {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%;
}

.Clearfix {
    display: block
}

h1,
h2,
h4 {
    font-size: 12px;
    display: inline-block;
}

h3 {
    font-size: 14px;
}

.uline {
    text-decoration: underline;
}

.no_uline {
    text-decoration: none;
}

.disn {
    display: none;
}

.b {
    font-weight: bold
}

i,
em {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}


/* float clear start */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1
}

.cl {
    clear: both;
}


/* float clear end */


/* float  start*/

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}


/* float  end*/


/* position start */

.po_r {
    position: relative;
}

.po_a {
    position: absolute;
}


/* position end */


/* color ddd start */

.ddd {
    color: #ddd;
}

.b_ddd {
    border: 1px solid #ddd;
}

.bb_ddd {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.bt_ddd {
    border-top: 1px solid #ddd;
    width: 100%;
}


/* color ddd end */


/* font color start */

.co_9 {
    color: #999;
}

.co_6 {
    color: #666;
}

.co_3 {
    color: #333;
}


/* font color end */


/* font family start*/

.fon_w {
    font-family: "microsoft yahei";
}

.fon_a {
    font-family: "Arail";
}

.fon_v {
    font-family: Verdana;
}


/* font family end*/

.ff96 {
    color: #ff9600!important;
}
