@charset "utf-8";
.oteao_index {
  width: 100%;
  background: #fff;
}
.oteao_header {
  width: 100%;
}
.oteao_header_main {
  width: 990px;
  margin: 0 auto;
}
/*头部用于登录栏*/
.oteao_toolbar {
  background: #f2f2f2;
  height: 29px;
  line-height: 29px;
  border-bottom: 1px solid #e5e5e5;
}
.oteao_toolbarmain {
  position: relative;
  width: 990px;
  margin: 0 auto;
  height: 31px;
}
.oteao_toolrightbar a {
  border-right: 1px solid #000;
  padding: 0 12px;
}
/*头部搜索框部分*/
.oteao_logo {
  width: 275px;
  height: 90px;
  background: transparent url("../images/c_logo.jpg") no-repeat scroll 0% 0%;
  margin-top: -17px;
}
.oteao_searchplan {
  position: relative;
  margin-top: 20px;
  height: 80px;
}
.shopping_state {
  height: 120px;
  position: relative;
}
.shopping_state_t ul li {
  float: left;
  color: #888888;
  font-weight: bold;
  text-align: center;
}
.shopping_state_t ul {
  width: 900px;
  margin: 0 auto;
}
.s_progress {
  width: 990px;
  position: relative;
}
.progress {
  background: url(../images/progress.png) -25px -20px;
  position: absolute;
  width: 795px;
  height: 45px;
  left: 80px;
}
.progress1 {
  background: url(../images/progress.png) -30px -100px;
  position: absolute;
  width: 150px;
  height: 40px;
  top: 2px;
  left: 5px;
}
.schedule1 {
  width: 80px;
  margin-left: 20px;
}
.schedule2 {
  width: 120px;
  margin-left: 150px;
}
.schedule3 {
  width: 80px;
  margin-left: 150px;
}
.schedule4 {
  width: 80px;
  margin-left: 170px;
}
.online_payingplan {
  width: 990px;
  margin: 0 auto;
}
.home_cart {
  margin: 0 auto;
  width: 990px;
  margin-top: 30px;
}
.shopping_cart p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  padding-bottom: 10px;
  border-bottom: 2px solid #999999;
}
.cart_list {
  border: 1px solid #dddddd;
}
.cart_t {
  background: #f7f7f7;
  height: 35px;
  line-height: 35px;
}
.cart_list table {
  font-size: 12px;
  font-weight: normal;
}
.cart_list table th {
  font-weight: normal;
  display: block;
  float: left;
}
.cart_btn,
.cart_list table tbody input {
  margin-left: 20px;
}
.cart_list table {
  color: #666666;
}
.cart_list table tbody input {
  margin-right: 20px;
}
.cart_list table thead {
  line-height: 35px;
  color: #333;
  font-weight: bold;
}
.cart_list table tbody tr,
.cart_list table tbody input {
  float: left;
}
.cart_list table tbody td {
  height: 80px;
}
.cart_dis,
.cart_VIP,
.cart_acc,
.cart_opera,
.cart_total,
.cart_stock,
.cart_Points {
  text-align: center;
}
.cart_name {
  width: 370px;
}
.cart_dis {
  width: 86px;
}
.cart_VIP {
  width: 94px;
  font-family: verdana;
  color: #333;
  font-weight: bold;
}
.cart_VIP s {
  color: #999;
  font-weight: normal;
}
.cart_acc,
.cart_stock {
  width: 152px;
}
.cart_stock .plus,
.cart_stock .minus {
  border: 1px solid #cccccc;
  background: #fff;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  line-height: 20px;
  margin-bottom: 5px;
}
.cart_list .cart_stock input {
  width: 45px;
  height: 22px;
  margin: 0px 2px 0px 0px;
  line-height: 22px;
  border: 1px solid #cccccc;
  margin-left: 2px;
  text-align: center;
  color: #666666;
}
.cart_stock a:hover {
  border: 1px solid #888888;
}
.cart_Points {
  width: 106px;
}
.cart_total {
  width: 120px;
  font-weight: bold;
}
.cart_list table tbody .cart_total {
  color: #ff9600;
}
.cart_opera {
  width: 76px;
  text-align: left;
  color: #666!important;
}
.cart_opera a {
  margin-bottom: 5px;
  color: #666!important;
  position: relative;
  top: -2px;
}
.cart_dpic {
  border: 1px solid #dddddd;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.cart_dname a {
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart_opera .tblue {
  color: #005ea7;
}
.cart_input {
  padding-left: 20px;
}
.left_total {
  float: left;
  position: relative;
  top: 10px;
  left: 20px;
}
.right_total {
  float: right;
  margin-right: 25px;
}
.cart_list table tfoot td {
  height: 50px;
}
.cart_list table tfoot span {
  color: #ff9600;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
.cart_list table tfoot label {
  float: right;
  display: block;
  margin-right: 25px;
}
.jix_btn,
.jis_btn {
  width: 140px;
  height: 35px;
  border-radius: 2px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  float: right;
  margin-top: 10px;
  margin-bottom: 30px;
}
.jis_btn {
  height: 37px;
  background: #cd0000;
  font-size: 18px;
}
.jix_btn {
  height: 35px;
  border: 1px solid #cdcdcd;
  background: #f1f1f1;
  margin-right: 10px;
}
.jis_btn a {
  color: #ffffff;
}
.recommend {
  width: 990px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  position: relative;
  margin-bottom: 45px;
}
.recommend_t {
  height: 34px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  color: #666666;
  font-weight: bold;
  padding-left: 15px;
  line-height: 35px;
}
.recommend_pro ul li {
  overflow: hidden;
  width: 130px;
  height: 228px;
  float: left;
  padding-top: 15px;
  margin-right: 15px;
}
.recommend_pro ul {
  width: 870px;
  margin: 0 auto;
}
.re_btn {
  width: 80px;
  height: 22px;
  border: 1px solid #dde0e3;
  text-align: center;
  margin-top: 8px;
  margin-left: 18px;
}
.re_price label span {
  color: #ff9600;
  font-weight: bold;
}
.re_price label {
  color: #888888;
}
.right_t {
  margin-right: 90px;
}
.current_jf {
  float: right;
  margin-top: 15px;
}
.current_jf span {
  margin-left: 58px;
  margin-right: 25px;
}
.prev {
  top: 140px;
  left: 15px;
  position: absolute;
  background: url(../images/c_pre.jpg) no-repeat center;
  width: 14px;
  height: 36px;
}
.prev2 {
  top: 140px;
  right: 15px;
  position: absolute;
  background: url(../images/c_next.jpg) no-repeat center;
  width: 14px;
  height: 36px;
}
.cart_foot {
  text-align: center;
  padding-bottom: 20px;
}
.cart_foot a,
.cart_foot p {
  color: #666666;
}
.cart_foot a {
  border-right: 1px solid #666666;
  padding: 0 10;
}
.opera_num {
  margin: 0 auto;
  width: 93px;
  margin-left: 36px;
  color: #999999;
}
.left_total i {
  background: url(../images/del.jpg) 0px 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -3px;
}
.left_total a {
  padding-left: 15px;
  color: #1191cf;
}
.c_line {
  height: 1px;
  background: #74332d;
}
.main_bg_c {
  padding-top: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
}
.recommend {
  background: white;
}
table {
  background: white;
}
thead {
  background: url(../images/c_title_bg.jpg);
}
tfoot tr {
  background: url(../images/c_ud_line.jpg);
}
.recommend_t {
  background: #f3f3f3;
}
.cart_btn input {
  position: relative;
  top: 2px;
}
.cart_btn span {
  position: relative;
  left: 5px;
}
.cart_list tbody {
  color: #666;
}
.cart_dname a {
  color: #666;
  position: relative;
  top: 10px;
}
.jix_btn a {
  font-weight: normal;
}
.jis_btn {
  background: url(../images/c_fbuy.jpg);
  width: 144px;
  height: 38px;
}
.pro_box {
  width: 861px;
  height: 236px;
  position: relative;
  left: 68px;
  overflow: hidden;
}
.pro_box ul {
  width: 878px;
  height: 100%;
  position: absolute;
}
.jis_btn a {
  width: 144px;
  height: 38px;
  display: inline-block;
}
.jix_btn a {
  width: 142px;
  height: 37px;
  display: inline-block;
}
.re_name {
  width: 130px;
  height: 48px;
  overflow: hidden;
}
.phoneMessageDiv {
  display: none;
}
.pro_box_list {
  width: 876px;
}
/* 微信弹窗样式 */
.addcartcg {
  position: absolute;
  bottom: 10px;
  right: 1px;
  z-index: 1000050;
  background: #F8FEED none repeat scroll 0% 0%;
  border: 2px solid #BF764F;
  height: 150px;
  width: 300px;
  top: 556px;
  display: none;
}
input {
  font-size: 12px;
  font-family: "Tahoma", "Arial", "Sans-Serif";
}
.pm_outer {
  width: 989px;
  height: 0px;
  position: relative;
  margin: 0 auto;
}
#checkMessageButton {
  width: 49px;
  border-radius: 2px;
  margin-top: 9px;
  color: #000;
}
.duaxyz span:hover {
  text-decoration: underline;
  color: red;
}
.duaxyz span {
  color: #bf764f;
  font-weight: bold;
  cursor: pointer;
}
.right_t1 span {
  position: relative;
  top: -13px;
  left: 64px;
  color: #ff9600;
  font-size: 14px;
}
/* xingai */
.zonji {
  float: right;
  margin-right: 22px;
  position: relative;
  padding-top: 13px;
  padding-bottom: 7px;
}
.zonji p {
  font-weight: normal;
  font-size: 12px;
  color: #666;
  font-style: normal;
  border-bottom: none;
}
.zonji p em {
  font-style: inherit;
  text-align: right;
  width: 500px;
  display: inline-block;
}
.zonji p i {
  float: right;
  font-style: inherit;
  font-family: arial;
  font-weight: normal;
  width: 130px;
  display: inline-block;
  text-align: right;
}
.jifen_pay {
  position: absolute;
  right: 255px;
  top: 68px;
}
.jifen_pay input {
  margin-right: 5px!important;
  margin-left: 3px!important;
  margin-top: 2px;
}
.daibz {
  border-top: none!important;
  position: relative;
  top: -8px;
}
.daibz input {
  visibility: hidden;
}
.daibz td {
  height: 30px!important;
}
.daibz .cart_name {
  color: #999;
}
.cart_list table tbody tr {
  border-top: 1px solid #ddd;
}
.line_t {
  height: 1px;
  background: #ddd;
  margin-bottom: 26px;
}
