@charset "utf-8";
.com_main_right {
    width: 1031px;
    height: auto;
    float: right;
}

.com_main_right img {
    width: 50px;
    height: 50px;
}

.m_title {
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: #333;
}

.pro_search .s_sel {
    width: 105px;
    height: 23px;
    border: 1px solid #ABADB3;
}

.pro_search {
    float: right;
}

.pro_search .s_text {
    width: 179px;
    height: 22px;
    border: 1px solid #ABADB3;
    text-indent: 10px;
}

.pro_search .s_submit {
    width: 41px;
    height: 22px;
    border: 1px solid #ABADB3;
}

.no_com_pro {
    height: auto;
    width: 100%;
    float: left;
}

.had_com_pro {
    width: 100%;
    height: auto;
    float: left;
}

.no_com_title {
    width: 100%;
    height: 30px;
    float: left;
}

.no_com_box {
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background: white;
}

.nc_title_bar {
    width: 100%;
    height: 40px;
    float: left;
    background: url(../images/sidnav_bg.jpg);
}

.nc_title_bar li {
    float: left;
    list-style: none;
    font-weight: bold;
    color: #666;
    line-height: 40px;
}

.nc_pro_list {
    width: 100%;
    height: auto;
    float: left;
}

.nc_pro_list .nc_li {
    width: 100%;
    height: 86px;
    border-top: 1px solid #eee;
}

.nc_pro_list .nc_li img {
    float: left;
}

.pro_li_1 {
    margin-top: 15px;
    line-height: 50px;
}

.pro_li_1 em {
    color: #666;
    height: 36px;
    overflow: hidden;
}

.pro_li_2 {
    margin-top: 34px;
    color: #666;
    font-family: "Microsoft Yahei";
}

.pro_li_3 {
    margin-top: 31px;
}

.i_comment {
    width: 78px;
    height: 24px;
    background: url(../images/i_comment.jpg) no-repeat;
}

.nc_1 {
    width: 372px;
    float: left;
    margin-left: 15px;
}

.nc_2 {
    width: 128px;
    float: left;
    margin-left: 159px;
    text-align: center;
}

.nc_3 {
    width: 82px;
    float: left;
    margin-left: 223px;
    text-align: center;
}

.had_c_title {
    width: 100%;
    height: 30px;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: #333;
}

.had_c_box {
    width: 100%;
    height: auto;
    float: left;
    background: white;
    border: 1px solid #ccc;
}

.had_c_box .hc_title_bar {
    width: 1017px;
    height: 40px;
    float: left;
    background: url(../images/sidnav_bg.jpg);
    padding-left: 15px;
}

.had_c_box .hc_title_bar li {
    float: left;
    font-weight: bold;
    color: #666;
    line-height: 40px;
}

.had_c_box .hc_pro_list {
    padding-left: 15px;
    width: 100%;
    height: auto;
    float: left;
    color: #666;
}

.hc_pro_list * {
    font-family: arial, simsun;
}

.had_c_box .hc_pro_list ul {
    width: 100%;
    height: 89px;
    border-top: 1px solid #eee;
}

.had_c_box .hc_pro_list ul li {
    float: left;
    color: #666;
}

.hc_1 {
    width: 253px;
}

.hc_1 img {
    float: left;
    margin-right: 2px;
}

.hc_2 {
    width: 288px;
    margin-left: 95px;
}

.hc_3 {
    width: 122px;
    margin-left: 78px;
}

.hc_4 {
    width: 50px;
    margin-left: 97px;
}

.hp_1 {
    margin-top: 25px;
}

.hp_1 i {
    margin-top: 8px;
    height: 30px;
    overflow: hidden;
}

.hp_2 {
    margin-top: 29px;
    width: 288px;
    height: 43px;
    overflow: hidden;
}

.hp_3 {
    margin-top: 39px;
}

.hp_4 {
    margin-top: 39px;
    color: #005ea7!important;
}

.pages {
    width: auto;
    height: 34px;
    float: right;
    margin-top: 75px;
    position: relative;
    top: -15px;
    left: 15px;
}

.pages a {
    float: left;
    text-align: center;
    line-height: 30px;
    margin-right: 4px;
    position: relative;
}

.page_pre,
.page_num,
.page_next {
    background: #FFF none repeat scroll 0% 0%;
}

.page_pre,
.page_next {
    width: 75px;
    height: 30px;
    border: 1px solid #D7D7D7;
    color: #B1B1B1;
    font-size: 14px;
}

.ff96 {
    color: #FF9600!important;
}

.page_pre,
.page_num,
.page_next {
    background: #FFF none repeat scroll 0% 0%;
}

.page_num {
    position: relative;
}

.dian {
    width: 31px;
    color: #333;
    font-size: 14px;
}

.page_next {
    color: #333;
}

.page_pre,
.page_num,
.page_next {
    background: #FFF none repeat scroll 0% 0%;
}

.page_pre,
.page_next {
    width: 75px;
    height: 30px;
    border: 1px solid #D7D7D7;
    color: #B1B1B1;
    font-size: 14px;
}

.page_next {
    color: #333;
}

.page_next {
    margin-right: 0px !important;
}

.page_next_tip {
    background: transparent url("../images/page.jpg") repeat scroll 0px -28px;
    height: 15px;
    width: 12px;
    position: absolute;
    top: 8px;
    right: 3px;
}

.page_pre_tip {
    background: transparent url("../images/page.jpg") repeat scroll 0px 1px;
    height: 15px;
    width: 12px;
    position: absolute;
    top: 8px;
    left: 3px;
}

.page_num {
    width: 30px;
    height: 30px;
    border: 1px solid #D7D7D7;
    font-family: "Verdana";
    font-size: 14px;
    color: #333;
}
