@charset "utf-8";
.head {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.head:after {
    display: table;
    clear: both;
    content: " ";
}


/* line 150, ../sass/public.scss*/

.head .logo {
    float: left;
    position: relative;
    width: 315px;
    height: 82px;
    padding: 9px 0;
}

.head .search {
    float: left;
    width: 427px;
    height: 60px;
    position: relative;
    padding-top: 25px;
}

.head .search input {
    text-indent: 6px;
}

.head .search .text {
    width: 334px;
    float: left;
    line-height: 24px;
    height: 24px;
    padding: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #0ec416;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.head .search .button {
    float: left;
    width: 82px;
    height: 36px;
    background: #0ec416;
    border: none;
    font-size: 16px;
    cursor: hand;
    color: white;
}

.head .hot-text {
    padding-top: 10px;
    height: 20px;
    line-height: 20px;
    width: 426px;
    overflow: hidden;
    font-size: 12px;
    font-family: SimSun;
    color: #999;
}

.head-box .hot-text a {
    margin-right: 10px;
}

.head .top-cart {
    position: relative;
    float: left;
    height: 36px;
    width: 123px;
    margin-left: 73px;
    margin-top: 25px;
    line-height: 36px;
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #ddd;
    color: #666;
}

.head .top-cart:hover {
    background: white;
}


/* line 216, ../sass/public.scss*/

.head .top-cart a {
    padding-left: 13px;
    font-size: 12px;
    font-family: SimSun;
}


/* line 222, ../sass/public.scss*/

.head .top-qrcode {
    float: right;
    padding-top: 21px;
}


/* line 225, ../sass/public.scss*/

.head .top-qrcode img {
    margin-right: 65px;
    width: 57px;
    height: 57px;
    border: 0;
}


/* line 228, ../sass/public.scss*/

.head .top-qrcode span {
    position: absolute;
    width: 60px;
    margin: 30px 0 0 -60px;
    font-family: SimSun;
    font-size: 12px;
    top: 18px;
    color: #999;
}

.ic-cart {
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 17px;
    display: inline-block;
    position: absolute;
    margin: 10px 0 0 -82px;
    *margin: 0 0 0 -82px;
    background-position: 0 -74px;
    margin-left: -88px\0;
}

.ic-right {
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    height: 10px;
    width: 5px;
    display: inline-block;
    position: absolute;
    margin: 13px;
    *margin: 8px 0 0 5px;
    background-position: 0 -230px;
}

.cart_count {
    position: absolute;
    left: 816px;
    top: 28px;
}

.wechat {
    position: absolute;
    right: 50px;
    top: 16px;
}

.search_box button {
    background: transparent url("../images/search.jpg") repeat scroll 0% 0%;
    width: 80px;
    height: 38px;
    border: medium none;
    position: absolute;
    top: 25px;
    left: 352px;
}

.search_nav {
    margin-top: 5px;
}

.search_box input {
    width: 350px;
    height: 35px;
    margin-top: 25px;
    font-size: 14px;
    font-family: "Simsun";
    color: #999999;
    line-height: 35px;
}

.cart_count a {
    display: block;
    width: 126px;
    height: 36px;
    background: transparent url("../images/cart.jpg") repeat scroll 0% 0%;
}

.search_nav span a {
    color: #d0121b;
}

.home_link span a {
    color: #666666;
}

.search_nav a {
    color: #999999;
}

.save_link span {
    color: #666666;
}

.search_nav {
    color: #999999;
}

.wechat span {
    width: 68px;
    height: 30px;
    display: block;
    position: absolute;
    top: 29px;
    color: #999999;
    left: -10px;
}

.wechat img {
    position: absolute;
    left: -71px;
}

.nav {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    background: #0ec416;
}

.nav_box {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.allpro {
    width: 210px;
    height: 100%;
    position: absolute;
    left: 0px;
    background: #FF9600 none repeat scroll 0% 0%;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    color: #FFF;
    line-height: 40px;
    text-align: center;
}

.main_nav {
    width: auto;
    height: auto;
    position: absolute;
    left: 214px;
    top: 8px;
}

.main_nav li {
    float: left;
    padding-left: 23px;
    padding-right: 23px;
}

.main_nav a {
    color: white;
    font-family: "Microsoft Yahei";
    font-size: 16px;
}

.nav_word {
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: "Simsun";
    font-size: 18px;
    color: white;
    line-height: 40px;
}

.header {
    width: 1200px;
    height: 470px;
    position: relative;
    margin: 0 auto;
    top: 10px;
}

.subnav {
    width: 206px;
    height: 480px;
    position: absolute;
    left: 0px;
    top: -10px;
    border-left: 2px solid rgb(255, 150, 0);
    border-right: 2px solid rgb(255, 150, 0);
    background-color: #f8f8f8;
    background-image: url("../images/subnav.jpg");
    background-position: -1px 100%;
}

.news_list ul li i a {
    color: #666666;
}

.new_order_list ul li i a {
    color: #909090;
}

.new_order_list span a {
    color: #666666;
}

.new_order_list em a {
    color: #555555;
}

.banner {
    width: 720px;
    height: 470px;
    position: absolute;
    left: 217px;
    top: 0px;
}

.slider-wrapper {
    width: 719px;
    height: 300px;
    float: left;
    margin-left: 3px;
}

.theme-zuipin .nivoSlider {
    position: relative;
    background: #fff url('../images/loading.gif') no-repeat 50% 50%;
    /* -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;*/
}

.theme-zuipin .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.theme-zuipin .nivoSlider a {
    border: 0;
    display: block;
}

.theme-zuipin .nivo-controlNav {
    text-align: center;
    position: absolute;
    width: 720px;
    margin-top: -35px;
    z-index: 99;
}

.theme-zuipin .nivo-controlNav a {
    display: inline-block;
    width: 23px;
    height: 24px;
    background: url('../images/bullets.png?1428516992') no-repeat;
    text-indent: 0;
    border: 0;
    margin: 0 2px;
    background-position: -1px -33px;
    color: white;
    font-size: 12px;
    line-height: 23px;
    font-family: "Arial";
}

.theme-zuipin .nivo-controlNav a.active {
    background-position: -0px -7px;
}

.theme-zuipin .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 90px;
    color: white;
    background: #333;
    font-family: simsun;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 90px;
    position: absolute;
    top: 35%;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.theme-zuipin:hover .nivo-directionNav a {
    opacity: 0.6;
}

.banner_pro {
    width: 718px;
    height: 159px;
    position: absolute;
    top: 310px;
    left: 2px;
    border: 1px solid #E3E3E3;
}

.banner_pro img {
    height: 159px;
    width: 240px;
}

.banner_pro li {
    float: left;
    border-right: 1px solid #e3e3e3;
    width: 238px;
    height: 160px;
}

.banner_pro li:nth-child(3) {
    border: none;
}

.header_right {
    width: 250px;
    height: 469px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #dddddd;
}

.news_title {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    border-bottom: 1px solid #e5e5e5;
}

.news_title h3 a {
    font-family: "Microsoft Yahei";
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(102, 102, 102);
}

.news_title span {
    position: absolute;
    right: 10px;
    top: 14px;
}

.news_title span a {
    color: rgb(0, 94, 167);
}

.news_list {
    height: 115px;
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 13px;
}

.contact {
    position: absolute;
    top: 160px;
    height: 70px;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.new_order {
    position: absolute;
    bottom: 0px;
    height: 240px;
    width: 100%;
}

.new_order h3 {
    display: block;
    height: 40px;
    position: absolute;
    top: 0px;
    width: 100%;
    line-height: 40px;
}

.new_order h3 a {
    color: rgb(102, 102, 102);
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.new_order_list {
    height: 203px;
    position: absolute;
    top: 35px;
    overflow: hidden;
    width: 100%;
}

.news_list li i {
    float: left;
    font-weight: bold;
    margin-right: 8px;
}

.news_list li {
    margin-top: 10px;
    margin-left: -2px;
    height: 16px;
    line-height: 16px;
    width: 230px;
    overflow: hidden;
}

.news {
    height: 160px;
}

.ct_kefu2 {
    position: relative;
    top: 0px;
    left: 2px;
    color: #666666;
    font-family: "Microsoft Yahei";
}

.ct_phone2 {
    position: relative;
    left: 9px;
    top: 1px;
    color: #666666;
    font-family: "Arial";
}

.ct_kefu {
    position: relative;
    top: 17px;
    left: 3px;
}

.ct_phone {
    position: relative;
    top: 17px;
    left: 11px;
}

.new_order_list ul {
    padding: 0 13px;
    margin-top: 2px;
}

.new_order_list li {
    background: url('../images/deal.jpg?1430038359') left center no-repeat;
    padding-left: 31px;
    width: 210px;
    overflow: hidden;
    height: 25px;
}

.order-name {
    font-family: SimSun;
    font-size: 12px;
    display: inline-block;
    line-height: 26px;
    height: 26px;
    width: 128px;
    overflow: hidden;
    color: #666;
}

.order-amount {
    font-size: 12px;
    display: inline-block;
    line-height: 24px;
    height: 26px;
    width: 60px;
    text-align: right;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #555;
    margin-top: 0px;
}

.order-amount em {
    font-family: "Arial";
    color: #555;
}

.new_order_list i {
    float: left;
}

.new_order_list em {
    float: right;
    position: relative;
    top: 1px;
}

.new_order_list li span {
    position: relative;
    width: 135px;
    top: 1px;
}

.new_order_list i {
    background: #fff8f2;
    display: block;
    width: 28px;
    height: 15px;
    border: 1px solid #ffe5d0;
    padding: 1px;
    margin-right: 10px;
    text-align: center;
}

.ca-item-hover .tip_wulong {
    background: url("../images/wulong-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}

.tip_wulong {
    background: url("../images/wulong.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
}

.pro_nav_list li {
    float: left;
    margin-top: 11px;
    margin-top: 13px\0;
    margin-right: 12px;
    margin-right: 5px\0;
    position: relative;
    left: 7px;
}

.logo img {
    border: 0;
}

.each_p_bg img {
    border: none;
}

.sn_ul > li {
    width: 197px;
    height: 57px;
    padding-left: 10px;
    padding-top: 10px;
}

#ca-1 {
    padding-top: 10px;
}

.ca-item-hover {
    background: #ff9600;
}

.ca-item-hover .tea_title a {
    color: white;
}

.ca-item-hover .pro_nav_list a {
    color: white;
}

.sn_ul .h-space {
    width: 186px;
    height: 1px;
    background: #eee;
    margin-left: 12px;
}

.sn_ul .ca-pop {
    position: absolute;
    top: 0px;
    left: 208px;
    width: 488px;
    background: white;
    border: 1px solid #ddd;
    display: none;
    -moz-box-shadow: 1px 0px 1px #ddd;
    -webkit-box-shadow: 1px 0px 1px #ddd;
    box-shadow: 1px 0px 1px #ddd;
    z-index: 100;
    min-height: 478px;
}


/* line 300, ../sass/public.scss*/

.sn_ul .ca-pop ul {
    padding: 0px 29px 30px;
}


/* line 304, ../sass/public.scss*/

.sn_ul .ca-pop li:after {
    display: table;
    clear: both;
    content: " ";
}


/* line 308, ../sass/public.scss*/

.sn_ul .ca-pop .dt {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 14px;
}


/* line 313, ../sass/public.scss*/

.sn_ul .ca-pop dd {
    float: left;
    margin: 10px 25px 0 0;
    font-family: SimSun;
    font-size: 12px;
}


/* line 318, ../sass/public.scss*/

.sn_ul .ca-pop .ca-pop-item {
    /*display: none;*/
}


/* line 321, ../sass/public.scss*/

.sn_ul .ca-pop .hover {
    display: block;
}

.tea_title span a {
    font-family: "Microsoft Yahei";
    font-size: 16px;
}

.ca-item-hover .tip_lvcha {
    background: url("../images/lvcha-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_lvcha {
    background: url("../images/lvcha.png") no-repeat center center;
    width: 25px;
    height: 24px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.ca-item-hover .tip_hongcha {
    background: url("../images/hongcha-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_hongcha {
    background: url("../images/hongcha.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.ca-item-hover .tip_baicha {
    background: url("../images/baicha-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_baicha {
    background: url("../images/baicha.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.ca-item-hover .tip_heicha {
    background: url("../images/heicha-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_heicha {
    background: url("../images/heicha.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.ca-item-hover .tip_baozhuan {
    background: url("../images/baozhuang-hover.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_baozhuan {
    background: url("../images/baozhuang.png") no-repeat center center;
    width: 25px;
    height: 21px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.ca-item-hover .tip_chaju {
    background: url("../images/chaju-hover.png") no-repeat center center;
    width: 26px;
    height: 22px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tip_chaju {
    background: url("../images/chaju.png") no-repeat center center;
    width: 26px;
    height: 22px;
    float: left;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.pro_nav_list li a {
    color: #666666;
}

.hand_pro {
    width: 1200px;
    height: 230px;
    position: relative;
    margin: 35px auto 0px;
}

.hand_title {
    width: 100%;
    height: 54px;
    position: relative;
    top: 0px;
    left: 0px;
}

.dot_bg {
    height: 20px;
    background: transparent url("../images/line.jpg") repeat scroll 0% 0%;
    position: absolute;
    top: 6px;
    left: 133px;
    width: 1078px;
}

.hand_title h2 a {
    color: #333333;
    font-size: 20px;
    font-family: "Microsoft Yahei";
}

.fhand_pro {
    width: 100%;
    height: 230px;
    position: relative;
    left: 0px;
    top: 0px;
}

.fhand_pro ul li {
    width: 396px;
    height: 164px;
    float: left;
    position: relative;
    margin-right: 3px;
    border-right: 1px solid rgb(239, 239, 239);
}

.fhand_pro ul li:nth-child(3) {
    border-right: none;
}

.fp_pro_top {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.fh_place {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 125px;
    left: 6px;
    overflow: hidden;
}

.fh_pro_bg {
    width: 136px;
    height: 125px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.fh_pro_word {
    width: 255px;
    height: 125px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fh_place>div {
    float: left;
}

.loca_p {
    width: auto;
    height: 34px;
    margin-right: 9px;
    margin-top: 2px;
    border-radius: 33px;
    border: 1px solid rgb(233, 233, 233);
    background: url(../images/loca.jpg);
    background-repeat: no-repeat;
    background-position: 12px 7px;
}

.loca_p a {
    font-size: 14px;
    color: #666;
    line-height: 36px;
    margin-left: 39px;
    margin-right: 14px;
}

.fp_word_one a {
    font-family: "Microsoft Yahei";
    color: #0ec416;
    font-size: 24px;
}

.fp_word_one {
    margin-top: 20px;
}

.fp_word_two a {
    font-family: "Microsoft Yahei";
    color: #666666;
}

.fp_word_two {
    margin-top: 5px;
    width: 217px;
    height: 17px;
    overflow: hidden;
}

.fp_word_three a {
    color: #999999;
}

.fp_word_three {
    margin-top: 16px;
    color: #e6e6e6;
}

.each_slae {
    width: 1200px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.wulongcha_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.es_title {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
}

.es_top_bg {
    width: 100%;
    height: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent url("../images/each_top.jpg") no-repeat scroll 0px -5px;
}

.es_t_name {
    width: 1196px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 0px;
    border-right: 2px solid #ff9600;
    border-left: 2px solid #ff9600;
}

.es_t_name h2 {
    color: #333333;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    float: left;
    margin-left: 20px;
    position: relative;
    top: -6px;
}

.es_t_name span {
    color: #999999;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    margin-left: 13px;
    position: relative;
    top: 1px;
}

.es_list {
    width: 1198px;
    height: 438px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid #E3E3E3;
}

.es_pro_left {
    width: 197px;
    height: 438px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ep_word_one a {
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

.es_pro_center {
    width: 800px;
    height: 438px;
    position: absolute;
    top: 0px;
    left: 197px;
}

.es_pro_right {
    width: 196px;
    height: 438px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.es_pro_center ul li {
    float: left;
    width: 398px;
    height: 218px;
    position: relative;
}

.es_pro_right ul li {
    width: 196px;
    height: 218px;
    position: relative;
    top: -10px;
    left: -6px;
    padding-top: 10px;
    padding-left: 6px;
}

.es_pro_right ul li:nth-child(1) {
    border-bottom: 1px solid #EFEFEF;
}

.each_pro_bt {
    width: 200px;
    height: 169px;
    position: absolute;
    left: 0px;
    top: 23px;
}

.each_p_bg {
    width: 155px;
    height: 126px;
    position: absolute;
    top: 0px;
    left: 21px;
}

.each_p_time {
    width: 198px;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 9px;
}

.ep_time {
    position: absolute;
    left: 48px;
    font-family: "Microsoft Yahei";
    font-size: 12px;
}

.ep_time em {
    float: right;
    margin-right: 64px;
    color: rgb(255, 83, 0);
    font-family: "Microsoft Yahei";
}

.time_bg {
    float: left;
    background: transparent url("../images/time.jpg") repeat scroll 0% 0%;
    width: 17px;
    height: 19px;
    position: relative;
    left: 27px;
    top: -2px;
}

.each_pro_word {
    width: 200px;
    height: 169px;
    position: absolute;
    right: 0px;
    top: 24px;
}

.ever_pri {
    float: left;
    border-right: 1px solid rgb(227, 227, 227);
    width: 93px;
}

.ep_word_one {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    width: 183px;
    overflow: hidden;
    height: 18px;
}

.ep_word_two {
    color: #FF9600;
    margin-top: 10px;
    position: relative;
    top: 5px;
}

.ep_word_four dd {
    color: #999999;
    font-family: "Microsoft Yahei";
    text-align: center;
}

.ep_word_four {
    margin-top: 26px;
    margin-left: -8px;
}

.ep_word_three em {
    float: left;
    width: 85px;
    height: 34px;
    font-family: "Verdana";
    font-weight: bold;
    font-size: 20px !important;
}

.ep_word_three b {
    color: white;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    font-size: 14px !important;
}

.ep_prow_one a {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.ep_prow_two a {
    font-family: "Microsoft Yahei";
    color: #999999;
}

.ep_prow_two a em {
    font-size: 12px;
    color: #FFA422;
    display: inline;
    font-family: "Microsoft Yahei";
}

.ep_prow_two a em i {
    display: inline;
    font-family: "Verdana";
    font-size: 16px;
}

.ep_prow_three a {
    color: #999999;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

.ep_pro_bg {
    width: 165px;
    height: 112px;
}

.es_ri_pro {
    margin: 10px;
}

.ep_prow_one {
    margin-top: 5px;
    width: 176px;
    height: 17px;
    overflow: hidden;
}

.ep_prow_two {
    margin-top: 7px;
}

.ep_prow_three {
    margin-top: 5px;
    width: 172px;
    overflow: hidden;
    height: 17px;
}

.es_pro_center ul li {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.es_pro_center ul li:nth-child(3) {
    border-bottom: none;
}

.es_pro_center ul li:nth-child(4) {
    border-bottom: none;
}

.line_banner {
    width: 1200px;
    height: 80px;
    margin: 0px auto;
    position: relative;
    margin-top: 20px;
}

.wulongcha {
    width: 1198px;
    height: 500px;
    position: relative;
    top: 0px;
    left: 0px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.wlc_t_name {
    width: 1196px;
    height: 29px;
    position: absolute;
    top: 12px;
    left: 0px;
    border-right: 2px solid #0ec416;
    border-left: 2px solid #0ec416;
}

.wlc_bg {
    background: transparent url("../images/wlc_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
}

.wlc_t_name h3 {
    margin-top: -5px;
    color: rgb(51, 51, 51);
}

.wlc_t_name h3 a {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    margin-left: 5px;
    color: rgb(51, 51, 51);
}

.wlc_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #8BB821;
    border-left: 2px solid #8BB821;
}

.wlc_nav {
    float: right;
    margin-top: -24px;
    margin-right: 10px;
    color: #e5e5e5;
}

.wlc_nav a {
    color: #666666;
}

.wlc_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333333;
}

.ts_other_li ul li a {
    color: #666;
    margin-left: 5px;
}

.wlc_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/wlc_top.jpg") no-repeat scroll 0px 0px;
}

.pro_pic {
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.pro_pic ul li {
    width: 199px;
    height: 300px;
    float: left;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.pro_list {
    width: 1200px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 0px;
}

.pro_list ul li {
    width: 199px;
    height: 200px;
    float: left;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.pro_name {
    white-space: nowrap;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #666;
    position: absolute;
    top: 16px;
    left: 32px;
    width: 140px;
    height: 17px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pro_name a {
    color: #666;
    text-align: center;
}

.pro_pri {
    font-size: 24px;
    color: #FF9600;
    position: absolute;
    top: 41px;
    left: 0px;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.pro_pri i {
    display: inline;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    font-size: 14px;
}

.pro_list_bg {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 90px;
    left: 40px;
}

.lvcha_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.pro_name a {
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: #666;
}

.lvcha {
    width: 1198px;
    height: 500px;
    position: relative;
    top: 1px;
    left: 0px;
    border-top: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
}

.top_200 {
    top: 200px;
}

.top_300 {
    top: -300px;
}

.hongcha_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.baicha_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.baozhuang_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.chaju_pro {
    width: 1200px;
    height: 542px;
    position: relative;
    margin: 20px auto 0px;
}

.fd_img {
    z-index: 100;
    position: absolute;
}

.pro_pic img,
.pro_list img {
    text-align: center;
}

.main_pro {
    width: 100%;
    height: 4006px;
    background: #F3F3F3 none repeat scroll 0% 0%;
    position: relative;
    padding-top: 10px;
}

.main_pro >div {
    background: white;
}

.suc_case {
    width: 1200px;
    height: 286px;
    position: relative;
    margin: 0px auto;
    padding-top: 30px;
}

.suc_c_title {
    width: 1200px;
    height: 35px;
    position: relative;
    top: 0px;
    left: 0px;
}

.suc_c_pic {
    width: 1200px;
    height: 230px;
    ;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 20px;
}

.suc_c_pic ul li {
    width: 284px;
    height: 230px;
    float: left;
    position: relative;
    margin-right: 20px;
    margin-right: 16px\9;
}

.suc_c_pic ul li:nth-child(4) {
    margin-right: 0px;
}

.suc_title {
    width: 285px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #262626 none repeat scroll 0% 0%;
    opacity: 1.5;
    filter: alpha(opacity=150);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 1.5;
    /*Firefox私有，透明度50%*/
    color: #FFF;
    line-height: 30px;
    text-align: center;
    font-family: "Microsoft Yahei";
}

.suc_c_title h6 {
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: #333333;
}

.suc_c_title {
    border-bottom: 2px solid #888888;
}

.tea_school {
    width: 1200px;
    height: 362px;
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
}

.tea_s_title {
    width: 1200px;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid #888888;
}

.tea_s_main {
    width: 1200px;
    height: 300px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 25px;
}

.ts_left {
    width: 396px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ts_learn {
    width: 180px;
    height: 100%;
    position: absolute;
    top: -3px;
    left: 445px;
}

.ts_news {
    width: 271px;
    height: 100%;
    position: absolute;
    left: 667px;
    top: -5px;
}

.ts_right {
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: -1px;
}

.tea_s_title h5 a {
    color: rgb(51, 51, 51);
    font-family: "Microsoft Yahei";
    font-size: 18px;
    position: absolute;
    top: 10px;
}

.tea_s_title span {
    font-family: "Microsoft Yahei";
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 73px;
}

.ts_l_pic {
    width: 396px;
    height: 213px;
    position: relative;
    top: 0px;
    left: 0px;
}

.ts_e_title a {
    font-size: 16px;
    color: #333333;
    font-family: "Microsoft Yahei";
}

.lvcha_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/wlc_top.jpg") no-repeat scroll 0px 0px;
}

.wulongcha_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/wulong_top.jpg") no-repeat scroll 2px 1px;
}

.hongcha_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/hongcha_top.jpg") no-repeat scroll 0px 1px;
}

.baicha_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/baicha_top.jpg") no-repeat scroll 0px 1px;
}

.baozhuang_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/baozhuang_top.jpg") no-repeat scroll 0px 0px;
}

.chaju_top_bg {
    width: 1202px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: -2px;
    background: transparent url("../images/chaju_top.jpg") no-repeat scroll 0px 0px;
}

.lvcha_bg {
    background: transparent url("../images/lvcha_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    background-repeat: no-repeat;
}

.hongcha_bg {
    background: transparent url("../images/hongcha_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    background-repeat: no-repeat;
}

.baicha_bg {
    background: transparent url("../images/baicha_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    background-repeat: no-repeat;
}

.baozhuang_bg {
    background: transparent url("../images/baozhuang_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 6px;
    float: left;
    background-repeat: no-repeat;
}

.chaju_bg {
    background: transparent url("../images/chaju_bg.jpg") repeat scroll 0% 0%;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.baicha_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #909090;
    border-left: 2px solid #909090;
}

.hongcha_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #784526;
    border-left: 2px solid #784526;
}

.lvcha_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #8BB821;
    border-left: 2px solid #8BB821;
}

.baozhuang_t_name {
    width: 1196px;
    height: 31px;
    position: absolute;
    top: 10px;
    left: 0px;
    border-right: 2px solid #DB452A;
    border-left: 2px solid #DB452A;
}

.baozhuang_t_name h3 {
    margin-top: 5px;
}

.chaju_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #784528;
    border-left: 2px solid #784528;
}

.wulongcha_t_name {
    width: 1196px;
    height: 28px;
    position: absolute;
    top: 13px;
    left: 0px;
    border-right: 2px solid #a6843d;
    border-left: 2px solid #a6843d;
}

.hongcha_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.lvcha_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.baicha_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.baozhuang_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.chaju_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.wulongcha_t_name h3 a {
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #333;
    position: relative;
    top: -5px;
}

.ts_e_title a {
    font-size: 16px;
    color: #4e4e4e;
}

.ts_e_list li a {
    color: #666666;
}

.ts_e_list li a:hover {
    color: #ff9600;
    text-decoration: underline;
}

.ts_e_list li span a {
    color: #ff9600;
}

.ts_e_title {
    margin-top: 10px;
}

.ts_e_list {
    margin-top: 10px;
    width: 400px;
}

.ts_e_list li {
    float: left;
    width: 190px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 6px;
}

.ts_p_title {
    width: 400px;
    height: 38px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #262626 none repeat scroll 0% 0%;
    opacity: 0.8;
    -moz-opacity: 0.8;
    /*Firefox私有，透明度50%*/
    line-height: 38px;
    text-align: center;
}

.ts_p_title a {
    color: #FFF;
    font-family: "Microsoft Yahei";
}

.ts_learn em {
    float: left;
}

.ts_learn h6 a {
    font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #555555;
}

.ts_l_list {
    margin-top: 15px;
}

.ts_l_list li {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.ts_l_list a {
    color: #666666;
}

.ts_l_list em {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 16px;
    background: #666666;
    margin-right: 10px;
    text-align: center;
    color: white;
    line-height: 15px;
}

.ts_l_list li:nth-child(1) em {
    background: #ff9600;
}

.ts_l_list li:nth-child(2) em {
    background: #ff9600;
}

.ts_l_list li:nth-child(3) em {
    background: #ff9600;
}

.ts_n_title h6 a {
    font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #333333;
}

.ts_n_first {
    width: 266px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 0px;
}

.ts_f_title a {
    color: #666666;
    font-weight: bold;
}

.ts_f_title p {
    color: #666666;
}

.ts_other_li {
    width: 262px;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ts_n_first p {
    position: absolute;
    width: 131px;
    height: 57px;
    right: 25px;
    top: 31px;
    line-height: 20px;
    overflow: hidden;
}

.ts_f_title {
    position: absolute;
    top: 7px;
    right: 14px;
    width: 144px;
    height: 15px;
    overflow: hidden;
}

.ts_other_li li span a {
    color: #ff9600;
}

.ts_other_li li {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}



.ep_word_three {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    background: transparent url("../images/pri_bg.jpg") no-repeat scroll 0% 0%;
    width: auto;
    height: 36px;
    margin-top: 28px;
    line-height: 36px;
    padding-left: 11px;
}

.ep_word_three em {
    margin-left: -6px;
    display: inline-block;
    height: 35px !important;
    text-align: center;
    width: 100px !important;
    line-height: 36px;
    color: white;
}

.ep_word_three em i {
    float: left;
    font-family: "Verdana";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 55px;
    margin-top: -3px;
    margin-right: -3px;
}

.ep_word_three span {
    color: #666;
    font-family: "Microsoft Yahei";
    margin-right: 32px;
    float: right;
}

.ts_p_a {
    position: absolute;
    width: 404px;
    height: 38px;
    text-align: center;
    bottom: -10px;
    z-index: 100;
}

.ts_p_a a {
    font-family: "Microsoft Yahei";
    font-size: 12px;
    color: white;
}

.sl_pic {
    width: 199px;
    height: 300px;
    overflow: hidden;
}

.fd_img {
    width: 399px;
    height: 300px;
    overflow: hidden;
}

.pro_nav_list {
    width: 198px;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
}

.pro_img_down {
    width: 199px!important;
    height: 150px!important;
    float: left!important;
    overflow: hidden!important;
}

.pro_img_up {
    border-bottom: 1px solid hsl(0, 0%, 89%)!important;
    height: 149px!important;
    width: 199px!important;
    float: left!important;
    overflow: hidden!important;
}


/* 购物车css*/

.cartList {
    display: none;
    position: absolute;
    width: 350px;
    background: #FFF none repeat scroll 0% 0%;
    cursor: pointer;
    border: 1px solid #CCC;
    z-index: 10000;
    top: 63px;
    right: 260px;
}

.clistSorll {
    padding: 5px 5px 0px;
    max-height: 265px;
    overflow-y: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.cartListLi {
    height: 67px;
    border-bottom: 1px dashed #CCC;
    padding-top: 5px;
}

.cartCommImg {
    width: 78px;
    height: 58px;
    overflow: hidden;
    border: 1px solid #F3F3F3;
    float: left;
}

.cartCommInfo {
    overflow: hidden;
    float: right;
    height: 60px;
    width: 230px;
    position: relative;
}

.cartCommInfo .tit {
    width: 150px;
    height: 60px;
    line-height: 20px;
    color: #666;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.cartCommInfo .tit {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}

.cartCommInfo .tit a {
    color: #666;
}

.cartCommInfo .pic {
    position: absolute;
    right: 0px;
    top: 0px;
}

.cartCommInfo .pic {
    color: #F00;
}

.cartCommInfo .delThis {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    color: #005EA7;
}

.head .top-qrcode span {
    margin-left: -60px!important;
}

.goCart {
    margin-top: -1px;
    background: #F5F5F5 none repeat scroll 0% 0%;
    text-align: right;
    padding: 10px 5px;
    height: 67px;
    overflow: hidden;
}

.goCart a {
    width: 121px;
    height: 30px;
    line-height: 135px;
    color: #FFF;
    display: inline-block;
    background: transparent url("../images/mall_cart.png") no-repeat scroll 0% 0%;
}

.goCart i,
.goCart em {
    font-size: 14px;
    color: #e4393c;
    display: inline-block;
}

.goCart em {
    font-size: 16px;
    font-weight: bold;
}

.goCart p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    margin-top: 5px;
}

.white_line {
    background: #FFF none repeat scroll 0% 0%;
    height: 2px;
    width: 124px;
    position: absolute;
    top: -2px;
    right: 0px;
}


/* 底部横幅链接样式 */

.blb {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.bl_a {
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.bl_a a {
    float: left;
    height: 100%;
}

.bl_a1 {
    width: 160px;
    margin-left: 0px;
}

.bl_a2 {
    width: 182px;
    margin-left: 13px;
}

.bl_a3 {
    margin-left: 18px;
    width: 220px;
}

.bl_a4 {
    margin-left: 18px;
    width: 206px;
}

.bl_a5 {
    margin-left: 20px;
    width: 170px;
}

.bl_a6 {
    margin-left: 20px;
    width: 160px;
}


/* 底部横幅样式结束 */
