@charset "utf-8";
.tred {
	color:#ff9600;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
}
.mt50 {
	margin-top:50px;
}
.oteao_index {
	width:100%;
	background:#fff;
}
.oteao_header {
	width:100%;
}
.oteao_header_main {
	width:990px;
	margin:0 auto;
	height:134px;
}
/*头部用于登录栏*/
.oteao_toolbar {
	background:#f2f2f2;
	height:29px;
	line-height:29px;
	border-bottom:1px solid #e5e5e5;
}
.oteao_toolbarmain {
	width:990px;
	margin:0 auto;
	height:31px;
	position:relative;
}
.oteao_toolrightbar a {
	border-right:1px solid #000;
	padding:0 12px;
}
/*头部搜索框部分*/
.oteao_logo {
	width:272px;
	height:85px;
	background:url(../images/p_logo.jpg) no-repeat;
	margin-top:-13px;
}
.oteao_searchplan {
	position:relative;
	margin-top:20px;
	height:80px;
	margin-bottom:40px;
}
.shopping_state {
	height:120px;
	position:relative;
}
.ml35 {
	margin-left:35px;
}
.ml70 {
	margin-left:70px;
}
.ml110 {
	margin-left:110px;
}
.shopping_state_t .pingjia {
	float:right;
	right:0px;
	width:120px;
}
.shopping_state_t ul li {
	float:left;
	color:#888888;
	font-weight:bold;
	text-align:center;
}
.shopping_state_t ul {
	width:900px;
	margin:0 auto;
}
.s_progress {
	width:990px;
	position:relative;
}
.progress {
	background:url(../images/progress.png) -25px -20px;
	position:absolute;
	width:795px;
	height:45px;
	left:80px;
}
.progress2 {
	background:url(../images/progress.png) -30px -100px;
	position:absolute;
	width:400px;
	height:40px;
	top:2px;
	left:5px;
}
.online_payingplan {
	width:990px;
	margin:0 auto;
}
/*中部信息确认*/
.info_check {
	position:relative;
	border:1px solid #dddddd;
	width:990px;
	margin:0 auto;
	border-top:2px solid #4f231f;
	background:white;
}
.info_t {
	font-size:16px;
	font-family:"Microsoft YaHei";
	line-height:45px;
	background:url(../images/p_line1.jpg);
	padding-left:10px;
	height:45px;
}
.select_a {
	margin:20px 0px 20px 20px;
	font-size:14px;
	font-weight:bold;
}
.select_a i {
	/* background:url(../images/p_title_bg.jpg) no-repeat center; */
	width:125px;
	height:30px;
	display:inline-block;
	font-style:normal;
	color:#333;
	font-size: 16px;
	font-weight: bold;
	line-height:30px;
}
.info_check .info_color {
	margin-left:15px;
	font-weight:normal;
	color:#1191cf;
	font-size:12px;
	display:inline-block;
}
/*地址选择*/
.all_address {
	margin-left:20px;
	color:#666666;
	padding-bottom:20px;
}
.address1,.address2,.address3 {
	width:270px;
	height:162px;
	float:left;
	position:relative;
}
.address1,.address2 {
	margin-right:20px;
}
.address1 {
	margin-bottom:20px;
}
.all_address li {
	cursor:pointer;
}
.child_address {
    border-bottom: 1px solid #F2F2F2;
    width: 210px;
    padding-bottom: 2px;
    font-size: 14px;
    margin-bottom: 6px;
    white-space: nowrap;
	overflow: hidden;
}
.border_red {
	position: relative;
	border-image:url(../images/bor_img.png) 5 repeat!important;
	-moz-border-image:url(../images/bor_img.png) 5 repeat!important;
	-webkit-border-image:url(../images/bor_img.png) 5 repeat!important;
	-ms-border-image:url(../images/bor_img.png) 5 repeat!important;
}
.border_red:after{
	content: url(../images/check_gou.png);
	width: 20px;
	height: 20px;
	position: absolute;
	right: -9;
	bottom: -8;
}
.ml25 {
	margin-left:25px;
}
.over_text {
	overflow:hidden;
	word-wrap:break-word;
	width:220px;
	margin:0 auto;
	height:50px;
	text-overflow:ellipsis;
}
.tel {
	margin:0 auto;
	width:220px;
	margin-bottom:10px;
}
.all_address button {
	border:1px solid #cdcdcd;
	border-top:none;
	height:23px;
	width:auto;
	border-radius:2px;
	background:url(../images/bt_jb.jpg) center;
	color: #005ea7;
}
.s_defalt {
	margin-left:10px!important;
}
.all_address .new_address {
	height:27px;
	width:100px;
	margin-bottom:30px;
	margin-left:0px;
	font-weight:bold;
	color:#333;
}
.all_address i {
	background:url(../images/select.png);
	width:28px;
	height:28px;
	position:absolute;
	right:0px;
	display:none;
	bottom:0px;
}
.pay_type {
	padding-bottom:25px;
	border-bottom:1px solid #ddd;
}
.pay_type li {
	height:40px;
	line-height:40px;
}
.pay_type label {
	margin-left:20px;
	display:block;
	color:#666666;
}
.pay_type label span {
	margin-right:20px;
}
.express {
	padding-bottom:30px;
	border-bottom:1px solid #ddd;
	height:80px;
}
.express li {
	float:left;
	position:relative;
	margin-right:45px;
}
.express_btn {
	position:absolute;
	left:20px;
	top:30px;
}
.express i.sto,.express i.ems,.express i.sf {
	border:1px solid #ddd;
	width:158px;
	height:78px;
	display:block;
	float:left;
	margin-left:50px;
}
.express i.sto {
	background:url(../images/express.png) -12px -2px;
}
.express i.ems {
	background:url(../images/express.png) -12px -98px;
}
.express i.sf {
	background:url(../images/express.png) -12px -184px;
}
.receipt {
	border-bottom:1px solid #ddd;
	height:40px;
	color:#888;
}
.receipt li {
	float:left;
	margin-left:20px;
}
.info_check table {
	margin:0 auto;
	font-size:12px;
}
.info_check table thead {
	background:url(../images/p_t_bg.jpg);
	height:30px;
	line-height:30px;
	font-weight:bold;
	color:#666666;
	font-size:12px;
}

.info_check table tbody tr {
	height:75px;
	border-top:1px solid #eeeded;
}
.info_check table tbody td img {
	border:1px solid #ddd;
}
.ext_c {
	height:60px;
	background:url(../images/p_line2.jpg);
	line-height:60px;
	padding-left:20px;
}
.prod_name {
	width:395px;
}
.trade_price,.VIP_price,.prod_amount,.prod_point,.prod_total {
	width:148px;
}
.info_check table tbody .trade_price,.VIP_price,.prod_amount,.prod_point,.prod_total {
	text-align:center;
}
.ext {
	width:244px;
	height:20px;
	border:1px solid #ddd;
	color:#888;
	padding-left:5px;
}
.big_red {
	font-size:18px;
	font-family:"Microsoft YaHei";
	font-weight:bold;
	color:#ff9600;
}
.submit_btn {
	background:url(../images/p_submit.jpg);
	width:143px;
	height:36px;
	display:block;
	float:right;
	margin:12px 30px;
}
.info_bz {
	width:900px;
	margin:0 auto;
	margin-bottom:10px;
}
.cart_foot {
	margin-top: 40px;
	text-align:center;
	padding-bottom:35px;
}
.cart_foot a,.cart_foot p {
	color:#666666;
}
.cart_foot a {
	border-right:1px solid #666666;
	padding:0 10
}
.cart_foot .not-br {
	border-right:0;
}

.info_check table tbody .tblue {
	color:#1191cf;
}
.info_check table tbody tr.h50 {
	height:30px;
	line-height:30px;
	border-bottom:0;
}
.info_check table tbody tr.h20 {
	height:20px;
	border-bottom:0;
}
.pt30 {
	padding-top:30px;
}
.active_btn {
	height:20px;
	width:80px;
	margin-left:10px;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#efefef),color-stop(1,#fff),color-stop(3,#efefef));
	border:1px solid #d2d2d2;
	border-radius:2px;
	cursor:pointer;
}
.border_all {
	border:1px solid #ddd;
}
.bgray {
	background:#f3f3f3;
}
.schedule1 {
	width:80px;
	margin-left:20px;
}
.schedule2 {
	width:120px;
	margin-left:150px;
}
.schedule3 {
	width:80px;
	margin-left:150px;
}
.schedule4 {
	width:80px;
	margin-left:170px;
}
/*地址弹窗的css*/
.na_title {
	width:99%;
	height:34px;
	float:left;
	font-family:"微软雅黑";
	font-size:16px;
	line-height:34px;
	font-weight:bold;
	padding-left:10px;
	background:#e6e6e6;
}
.na_con {
	padding-left:38px;
	padding-top:29px;
	width:100%;
	height:358px;
	float:left;
}
.na_con input {
	text-indent:5px;
}
.na_con textarea {
	text-indent:5px;
	font-size:14px;
}
.na_con ul {
	list-style:none;
}
.na_con ul li {
	margin-bottom:10px;
}
.na_con ul li label {
	width:75px;
	display:inline-block;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:right;
}
.na_con li select {
	width:139px;
	height:24px;
	border:1px solid #ccc;
	margin-right:12px;
}
.na_con input[type="text"] {
	width:127px;
	height:28px;
	border:1px solid #ccc;
}
.na_con textarea {
	width:604px;
	height:70px;
}
.in_ri {
	width:610px;
	height:auto;
	margin-left:10px;
	padding-left:10px;
	color:#808080;
	font-size:12px;
}
.in_ri i {
	margin-left:-13px;
	color:#ff0000;
	margin-right:3px;
}
.sure_sb {
	width:65px;
	height:29px;
	margin-left:98px;
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
	color:white;
	background:url(../images/sure.jpg) no-repeat;
	border:none;
}
.cancel {
	width:65px;
	height:29px;
	margin-left:6px;
	position:relative;
	top:0px;
	font-size:14px;
	color:#666;
	font-weight:bold;
	border:1px solid #e5e5e5;
	border-radius:3px;
}
.tancuan_address {
	display:none;
	width:980px;
	height:410px;
	position:fixed;
	border:10px solid #b4b4b4;
	background:white;
	z-index:9999;
	top:100px;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
/*发票弹窗*/
.fapiao_tancuan {
	display:none;
	width:551px;
	height:338px;
	position:fixed;
	border:10px solid #b4b4b4;
	z-index:9999;
	background:white;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.ft_title {
	width:530px;
	height:36px;
	background:#e6e6e6;
	position:absolute;
	top:0px;
	left:0px;
	line-height:35px;
	padding-left:20px;
}
.ft_con {
	width:100%;
	height:300px;
	position:absolute;
	top:36px;
	left:0px;
}
.ft_num {
	margin-top:20px;
	margin-left:20px;
}
.ft_num i {
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	font-style:normal;
}
.ft_num input {
	width:170px;
	height:30px;
	border:1px solid #ccc;
	text-indent:5px;
}
.ft_tip {
	margin-top:20px;
	margin-left:20px;
}
.ft_tip p {
	font-size:12px;
	color:#aaaaaa;
}
.ft_tip p:first-child {
	font-size:13px;
}
.ft_sr {
	position:absolute;
	top:225px;
	left:192px;
}
.sure {
	width:65px;
	height:29px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background:transparent url("../images/sure.jpg") no-repeat scroll 0% 0%;
	border:medium none;
}
.info_bz textarea {
	margin-top:16px;
}
.info_bz span {
	position:relative;
	top:-5px;
}
.td {
	color:#666;
}
.prod_name img {
	margin-right:5px;
}
.pay_type input[type="radio"] {
	position:relative;
	top:3px;
	margin-right:3px;
}
.receipt input[type="radio"] {
	position:relative;
	top:3px;
	margin-right:2px;
}
