@charset "utf-8";
.my_c_right {
  width: 1034px;
  height: 903px;
  float: right;
}
.my_c_t {
  width: 100%;
  height: 36px;
  float: left;
  font-family: "Microsoft Yahei";
  color: #666;
  font-size: 18px;
}
.my_c_t .gwc_bt {
  float: right;
}
.my_c_t .gwc_bt button {
  color: #333;
}
.add_buy {
  width: 110px;
  height: 23px;
}
.del {
  width: 64px;
  height: 23px;
}
.my_c_con {
  width: 100%;
  height: 867px;
  float: left;
}
.mc_t_nav {
  width: 100%;
  height: 36px;
  float: left;
  background: url(../images/dd_title_bg.jpg);
  line-height: 36px;
  font-weight: bold;
  color: #333;
}
.mc_t_nav ul li {
  float: left;
  width: 100px;
}
.mc_t_list {
  width: 100%;
  height: 834px;
  float: left;
  background: white;
  overflow: auto;
}
.mc_t_list i {
  display: inline-block;
}
.mc_t_list ul li {
  float: left;
  width: 100px;
}
.mc_t_list .lie_2 {
  width: 290px;
}
.lie_1 input {
  margin-left: 15px;
  position: relative;
  top: 3px;
}
.lie_2 {
  margin-left: 97px;
}
.lie_2 img {
  float: left;
}
.lie_3 {
  margin-left: 284px;
}
.lie_4 {
  margin-left: 102px;
}
.lie_5 {
  margin-left: 68px;
  width: 80px!important;
}
.mc_l_detail {
  height: 90px;
  width: 100%;
  line-height: 90px;
  border-bottom: 1px solid #eee;
}
.mc_l_detail img{
    width: 50px;
    height: 50px;
}
.mc_t_list .lie_2 {
  margin-left: -28px;
  line-height: 20px;
  margin-top: 23px;
}
.mc_t_list .lie_2 p:first-child {
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  width: 222px;
  color: #666;
}
.mc_t_list .lie_3 {
  margin-left: 185px;
  text-align: center;
  color: #ff9600;
  font-size: 14px;
  font-family: "Arial";
}
.mc_t_list .lie_4 {
  text-align: center;
  margin-left: 111px;
  color: #666;
}
.mc_t_list .lie_5 {
  text-align: center;
  color: #005ea7;
  height: 90px;
}
.mc_t_list .lie_5 i {
  display: inline;
  white-space: nowrap;
}
.into_car {
  float: left;
  margin-top: 22px;
  margin-bottom: -30px;
  margin-left: 2px;
  height: 26px;
  width: 75px;
  line-height: 20px;
text-align: center;
}
.save_time {
  color: #aaa;
}
.save_time i {
  font-family: "Arial";
}
