@charset "utf-8";
.news_main {
  width: 100%;
  height: auto;
  background: #f6f4e8;
  min-height: 500px;
}
.news_loca {
  width: 1200px;
  height: 50px;
  line-height: 49px;
  position: relative;
  margin: 0 auto;
  color: #000;
}
.news_loca span {
  font-size: 18px;
  font-family: "microsoft yahei";
}
.news_main_box {
  width: 1200px;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding-bottom: 30px;
}
.bottom_line_banner {
  margin-top: 0!important;
}
.news_m_left {
  width: 198px;
  height: 398px;
  background: white;
  float: left;
  overflow: hidden;
}
.cl {
  clear: both;
}
.news_ing_t {
  width: 179px;
  height: 37px;
  font-family: "microsoft yahei";
  font-size: 16px;
  line-height: 37px;
  border-top: 2px solid #999;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
  padding-left: 20px;
}
.news_i_list {
  padding-left: 12px;
  padding-right: 12px;
}
.news_i_list ul li {
  height: 39px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  border-bottom: 1px solid #eee;
  line-height: 39px;
  padding-left: 10px;
  color: #666;
  background: url(../images/li.png) 1px 18px no-repeat;
}
.news_m_right {
  width: 991px;
  height: auto;
  background: white;
  float: right;
}
.news_title {
  width: 830px;
  height: 124px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}
.news_title .main_title {
  font-family: "microsoft yahei";
  font-size: 24px;
  color: #333;
  position: relative;
  top: 40px;
}
.news_title .nt_time {
  font-family: "Arail";
  color: #999;
  position: relative;
  top: 54px;
}
.news_title .nt_time span {
  font-family: "microsoft yahei";
  color: #999;
}
.news_article {
  padding-top: 35px;
  padding-bottom: 50px;
  width: 830px;
  position: relative;
  margin: 0 auto;
  min-height: 50px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.news_article img {
  position: relative;
  margin: 0 auto;
  clear: both;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.news_article p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 26px;
  color: #666;
  text-indent: 2em;
}
.news_article .p_n_ind {
  text-indent: 0em;
}
