@charset "utf-8";
.f_main_right {
  width: 1036px;
  float: right;
}
.order_form_title {
  width: 100%;
  height: 40px;
  float: left;
}
.order_form_title .my_order_title {
  font-family: "Microsoft Yahei";
  font-size: 18px;
  float: left;
}
.order_form_title .search_order {
  float: right;
}
.order_form_title .search_order .so_t {
  width: 179px;
  height: 22px;
  border: 1px solid #abadb3;
}
.order_form_title .search_order .so_s {
  width: 40px;
  height: 22px;
  border: 1px solid #abadb3;
}
.order_pro_box img{
    width: 50px;
    height: 50px;
}
.order_form_box {
  width: 100%;
  height: auto;
  float: left;
  background: white;
}
.of_title_bar {
  width: 100%;
  height: 38px;
  float: left;
  background: url(../images/sidnav_bg.jpg);
}
.of_title_bar ul li {
  float: left;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
}
.of_title_bar .w_1 {
  text-align: left;
}
.pro_detail ul > li {
  float: left;
}
.order_pro_list {
  float: left;
}
.w_1 {
  width: 325px;
  padding-left: 10px;
}
.w_2 {
  width: 121px;
}
.w_3 {
  width: 111px;
}
.w_4 {
  width: 121px;
}
.w_5 {
  width: 125px;
}
.w_6 {
  width: 116px;
}
.w_7 {
  width: 100px;
}
.order_num {
  height: 26px;
  background: url(../images/line_bg.jpg);
  border-top: 1px solid white;
  color: #666;
  line-height: 26px;
  padding-left: 10px;
}
.order_num i {
  color: #005ea7;
  display: inline;
}
.pro_ul {
  height: 100%;
  float: left;
}
.pro_ul img {
  float: left;
}
.pro_ul em {
  margin-top: 10px;
}
.pro_ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pro_d_box > li {
  height: auto;
  border-right: 1px solid #f2f2f2;
}
.cl {
  clear: both;
}
.td1 {
  height: 90px;
}
.td1 img {
  float: left;
}
.td1 em {
  margin-top: 20px;
  float: left;
  width: 222px;
  height: 15px;
  overflow: hidden;
}
.pro_d_table {
  color: #666;
  border:none;
  border-top: none;
}
.pro_d_table tr{
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.pro_d_table td {
  text-align: center;
  border-color: #f2f2f2;
  border-top: 0;
}
.com_bg {
  background: url(../images/com_bg.jpg);
  width: 74px;
  height: 22px;
  margin-left: 22px;
  margin-top: 5px;
}
.td7 a {
  color: #005ea7;
}
.yl {
  color: #ff9600;
}
.page_pre,
.page_num,
.page_next {
  background: #FFF none repeat scroll 0% 0%;
}
.page_pre,
.page_next {
  width: 75px;
  height: 30px;
  border: 1px solid #D7D7D7;
  color: #B1B1B1;
  font-size: 14px;
}
.pages a {
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  position: relative;
}
.pages a {
  float: left;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  position: relative;
}
.page_pre_tip {
  background: transparent url("../images/page.jpg") repeat scroll 0px 1px;
  height: 15px;
  width: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
}
.ff96 {
  color: #FF9600!important;
}
.page_pre,
.page_num,
.page_next {
  background: #FFF none repeat scroll 0% 0%;
}
.page_num {
  position: relative;
}
.page_num {
  width: 30px;
  height: 30px;
  border: 1px solid #D7D7D7;
  font-family: "Verdana";
  font-size: 14px;
  color: #333;
}
.dian {
  width: 31px;
  color: #333;
  font-size: 14px;
}
.page_next {
  color: #333;
  margin-right: 0px !important;
}
.page_next_tip {
  background: transparent url("../images/page.jpg") repeat scroll 0px -28px;
  height: 15px;
  width: 12px;
  position: absolute;
  top: 8px;
  right: 3px;
}
.pages {
  width: auto;
  height: 34px;
  float: right;
  margin-top: 43px;
}
