@charset "utf-8";
.mt50 {
	margin-top:22px;
}
.oteao_index {
	width:100%;
	background:#fff;
}
.oteao_header {
	width:100%;
}
.oteao_header_main {
	width:990px;
	margin:0 auto;
}
/*头部用于登录栏*/
.oteao_toolbar {
	margin:0 auto;
	width:990px;
	position:relative;
	height:29px;
	line-height:29px;
	border-bottom:1px solid #e5e5e5;
}
.oteao_toolbarmain {
	background:#f2f2f2;
	width:100%;
	margin:0 auto;
	height:31px;
}
.oteao_toolrightbar a {
	border-right:1px solid #000;
	padding:0 12px;
}
/*头部搜索框部分*/
.oteao_logo {
	margin-top:-13px;
	width:271px;
	height:87px;
	background:url(../images/p_logo.jpg) no-repeat;
}
.oteao_searchplan {
	position:relative;
	margin-top:20px;
	height:80px;
	margin-bottom:40px;
}
.shopping_state {
	height:120px;
	position:relative;
}
.ml35 {
	margin-left:35px;
}
.ml70 {
	margin-left:70px;
}
.ml110 {
	margin-left:110px;
}
.ml20 {
	margin-left:20px;
}
.mb20 {
	margin-bottom:20px;
}
.fs14 {
	font-size:14px;
}
.fb {
	font-weight:bold;
}
.shopping_state_t .pingjia {
	float:right;
	right:0px;
	width:120px;
}
.shopping_state_t ul li {
	width:150px;
	float:left;
	color:#888888;
	font-weight:bold;
}
.shopping_state_t ul {
	width:900px;
	margin:0 auto;
}
.s_progress {
	width:990px;
	position:relative;
}
.progress {
	background:url(../images/progress.png) -25px -20px;
	position:absolute;
	width:795px;
	height:45px;
	left:80px;
}
.progress3 {
	background:url(../images/progress.png) -30px -100px;
	position:absolute;
	width:640px;
	height:40px;
	top:2px;
	left:5px;
}
/*在线购物区域*/
.online_payingplan {
	width:990px;
	margin:0 auto;
}
/*订单成功提示文字*/
.paying_info {
	border-top:2px solid #612b26;
	height:100px;
	background:white;
	margin-bottom:20px;
}
.paying_info label {
	border-right:1px solid #cccccc;
	padding:0 14px;
}
.paying_info .no-bor {
	border-right:0;
}
.paying_info p {
	font-size:16px;
	font-family:"Microsoft YaHei";
	font-weight:bold;
	margin-left:12px;
}
.paying_info .tred {
	color:#ff9600;
}
.order_ok {
	background:url(../images/check_ok.jpg) no-repeat;
	width:35px;
	height:35px;
	float:left;
	margin:15px 0 0 15px;
}
.check_ok {
	float:left;
	margin-top:15px;
	line-height:26px;
}
.paying_way {
	background:white;
	border:1px solid #cccccc;
	height:596px;
	padding-bottom:53px;
	margin-bottom:20px;
}
.paying_t {
	height:35px;
	font-size:16px;
	background:url(../images/pay_title_bg.jpg);
	border-bottom:1px solid #dddddd;
	font-family:"Microsoft YaHei";
	line-height:35px;
	padding-left:10px;
	margin-bottom:20px;
}
.zfb {
	height:50px;
	width:120px;
	border:1px solid #cccccc;
	display:block;
}
.pay_zfb {
	margin-left:24px;
	height:55px;
	margin-bottom:40px;
}
.pay_zfb input {
	margin:15px 4px 0px 0px;
	float:left;
}
.pay_wy {
	width:970px;
	margin:0 auto;
	padding-left: 34px;
}
.pay_wy input {
	margin:15px 15px 0 15px;
	float:left;
}
.pay_zfb label {
	float:left;
}
.pay_wy li {
	float:left;
	width:215px;
	height:40px;
	border:1px solid #cccccc;
	margin:7px 6px;
	position:relative;
}
i.icbc,i.cbc,i.cmbc,i.abc,i.bcm,i.gdb,i.boc,i.cmsb,i.hxb,i.cib,i.ceb,i.psbc,i.ccb,i.spdb,i.sdb,i.bob,i.cbb,i.pab,i.hccb,i.bbn,i.bos,i.srbc,i.bw,i.bj,i.bn,i.dy,i.bj,i.gz,i.zs,i.ws {
	width:165px;
	height:40px;
	position:absolute;
	top:0px;
	overflow:hidden;
}
i.icbc {
	background:url(../images/bank_ico.png) -35px -1px;
}
i.cbc {
	background:url(../images/bank_ico.png) -260px -1px;
}
i.cmbc {
	background:url(../images/bank_ico.png) -488px -1px;
}
i.abc {
	background:url(../images/bank_ico.png) -710px -1px;
}
i.bcm {
	background:url(../images/bank_ico.png) -35px -53px;
}
i.gdb {
	background:url(../images/bank_ico.png) -260px -53px;
}
i.boc {
	background:url(../images/bank_ico.png) -488px -53px;
}
i.cmsb {
	background:url(../images/bank_ico.png) -710px -53px;
}
i.hxb {
	background:url(../images/bank_ico.png) -35px -105px;
}
i.cib {
	background:url(../images/bank_ico.png) -260px -105px;
}
i.ceb {
	background:url(../images/bank_ico.png) -488px -105px;
}
i.psbc {
	background:url(../images/bank_ico.png) -710px -105px;
}
i.ccb {
	background:url(../images/bank_ico.png) -35px -157px;
}
i.spdb {
	background:url(../images/bank_ico.png) -260px -157px;
}
i.sdb {
	background:url(../images/bank_ico.png) -488px -157px;
}
i.bob {
	background:url(../images/bank_ico.png) -710px -157px;
}
i.cbb {
	background:url(../images/bank_ico.png) -35px -209px;
}
i.pab {
	background:url(../images/bank_ico.png) -260px -209px;
}
i.bbn {
	background:url(../images/bank_ico.png) -488px -209px;
}
i.hccb {
	background:url(../images/bank_ico.png) -710px -209px;
}
i.bos {
	background:url(../images/bank_ico.png) -35px -261px;
}
i.srbc {
	background:url(../images/bank_ico.png) -260px -261px;
}
i.bw {
	background:url(../images/bank_ico.png) -488px -261px;
}
i.bj {
	background:url(../images/bank_ico.png) -710px -261px;
}
i.bn {
	background:url(../images/bank_ico.png) -35px -313px;
}
i.zfb {
	background:url(../images/bank_ico.png) -267px -312px;
	width:122px;
	height:52px;
	position:absolute;
	overflow:hidden;
}

.paying_next .next_step {
	background:url(../images/sure_recharge.png);
	font-size:18px;
	font-family:"fzltzhk gbk10";
	font-weight:bold;
	width:143px;
	height:35px;
	border-radius:2px;
	display:block;
	color:#fff;
	text-align:center;
	line-height:36px;
	float:right;
}
.paying_next {
	padding-bottom:85px;
}
.cart_foot {
	text-align:center;
	padding-bottom:35px;
}
.cart_foot a,.cart_foot p {
	color:#666666;
}
.cart_foot a {
	border-right:1px solid #666666;
	padding:0 10
}
.cart_foot .not-br {
	border-right:0;
}
/* 主体内容补充css */
.web_m {
	height:45px;
	background:url(../images/p_line_bg.jpg);
	padding-left:20px;
	line-height:45px;
}
.main_bg {
	padding-top:35px;
	background:#f6f4e8;
	margin-top:-41px;
	border-top:1px solid #74332d;
}
i.dy {
	background:url(../images/dy_bank.png) 67% 0%;
}
i.bj {
	background:url(../images/bj_bank.png) 67% 0%;
}
i.gz {
	background:url(../images/gz_bank.png) 67% 0%;
}
i.zs {
	background:url(../images/zs_bank.png) 67% 0%;
}
i.ws {
	background:url(../images/ws_bank.png) 67% 0%;
}

.czhi_box{
	width: 100%;
	height: 138px;
	position: relative;
	top: -17px;
}
.czb_t{
	width: 100%;
	height: 35px;
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 16px;
	line-height: 35px;
}
.czb_num{
	width: 100%;
	height: 98px;
	background: white;
	float: left;
	border-top:2px solid #371815;
}
.czb_num p input{
	width: 118px;
	height: 30px;
	border:1px solid #ddd;
	margin:10px;
	text-indent: 10px;
}
.czb_num p{
	margin-top: 21px;
	margin-left: 20px;
}




/* 以下是付款状态弹窗样式start */
.fk_state_tc{
	position: fixed;
	background: white;
	height: 243px;
	width: 482px;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index: 999999;
}
.fk_s{
	display: inline-block;
	width: 145px;
	height: 38px;
	background: url(../images/fk_s_bt.png) no-repeat;
}
.fk_problem{
	display: inline-block;
	width: 145px;
	height: 40px;
	background: url(../images/fk_pro.png) no-repeat;
	position: relative;
	top: 2px;
	left: 5px;
}
.fk_s_bt{
	margin-top: 72px;
	display: inline-block;
	margin-left: 90px;
}
.fk_t_tip{
	margin-top: 20px;
	text-align: center;
	color: #333;
}
/* 以下是付款状态弹窗样式end */
