@charset "utf-8";
.return_right {
  width: 1036px;
  height: 906px;
  float: right;
}
.return_t {
  width: 100%;
  height: 36px;
  float: left;
  font-family: "Microsoft Yahei";
  font-size: 18px;
}
.return_ser {
  float: right;
}
.return_ser input[type="text"] {
  width: 165px;
  height: 23px;
  border: 1px solid #ccc;
  text-indent: 10px;
}
.return_ser input[type="submit"] {
  width: 54px;
  height: 23px;
  border: 1px solid #ccc;
}
.return_box {
  width: 100%;
  height: 868px;
  float: left;
  border-top: 1px solid #ccc;
  background: white;
  overflow: auto;
}
.return_t_nav {
  width: 100%;
  height: 39px;
  background: url(../images/dd_title_bg.jpg);
  border-bottom: 1px solid #ddd;
  color: #666;
  font-weight: bold;
}
.return_t_nav ul li {
  float: left;
  width: 146px;
  text-align: center;
  line-height: 39px;
}
.return_list {
  width: 100%;
  height: auto;
  float: left;
}
.list_detail {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #eee;
  color: #666;
}
.list_detail li {
  float: left;
  width: 146px;
  text-align: center;
}
.lie_1 {
  margin-left: 5px;
}
.lie_2 {
  margin-left: 21px;
}
.lie_3 {
  margin-left: 36px;
  width: 230px!important;
  text-align: left!important;
}
.return_t_nav .lie_3 {
  text-align: center!important;
}
.lie_4 {
  margin-left: 27px;
}
.lie_4 select {
  width: 103px;
  height: 18px;
  border: 1px solid #abadb3;
  margin-top: 10px;
}
.lie_5 {
  margin-left: -17px;
}
.lie_5 select {
  width: 88px;
  height: 18px;
  border: 1px solid #abadb3;
  margin-top: 10px;
}
.lie_6 {
  margin-left: 1px;
}
.list_detail li {
  line-height: 60px;
}
.list_detail .lie_1,
.list_detail .lie_2,
.list_detail .lie_6 {
  color: #005ea7;
  font-family: "Microsoft Yahei";
}
.list_detail .lie_1 a,
.list_detail .lie_2 a,
.list_detail .lie_6 a {
  color: inherit;
}
.list_detail .lie_3 {
  line-height: 18px;
  margin-top: 13px;
  width: 360px;
  height: 36px;
  overflow: hidden;
}
