html{
    /*font-size:62.5%;*/
}
img{
vertical-align: middle;
}
body{
    background-color: #fff;
}

.f-cb,
.f-cbli li {
    zoom: 1;
}

.f-cb:after,
.f-cbli li:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
    max-width: 640px;
    margin: 0 auto;
}

.top {
    font-size: 1.35rem;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #AAA;
}

.nav_list {
    height: 44px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.nav_list li {
    float: left;
    height: 44px;
    line-height: 44px;
    width: 17%;
    text-align: center;
    color: #333;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
}

.nav_list li span {
    display: inline-block;
    height: 44px;
    border-bottom: 4px solid #D22147;
    color: #D22147;
}

.active {
    color: #D22147!important;
}

.active:after {
    content: " ";
    font-size: 0px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 4px;
    border-radius: 9px 15px 0px 0px;
    background-color: #D22147;
}
.btl {
    color: #D22147!important;
}

.btl:after {
    content: " ";
    font-size: 0px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 4px;
    border-radius: 9px 15px 0px 0px;
    background-color: #D22147;
}


.pro_box {
    width: 48%;
    border: 1px solid #DDD;
    margin: 1%;
    position: relative;
}

.pro_box img {
    width: 100%;
    height: 100%;
}

.pro_t span {
    color: #D22147;
}

.pro_t {
    font-size: 14px;
    color: #333;
    height: 42px;
    overflow: hidden;
}

.pri_c {
    color: #999;
    font-size: 0.8rem;
}

.pa_1 {
    color: #D22147;
    font-size: 0.8rem;
}

.pa_2_num {
    color: #D22147;
    font-weight: bold;
    font-family: "Arail";
    font-size:12px;
}

.pa_3 {
    margin-left: 6px;
    color: #DD1E47;
    border: 1px solid;
    padding: 2px 3px;
    border-radius: 2px;
    background-color: #FFF;
    font-size: 11px;
}

.pro_box p {
    margin-left: 5%;
    margin-right: 5%;
}

.pri_act {
    margin-bottom: 10px;
}

.pro_list li {
    float: left;
}

.appprice {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 2.1rem;
    height: 2.1rem;
    padding-top: 0.225rem;
    border: 1px solid;
    color: #942E99;
    font-size: 0.75rem;
    line-height: 0.825rem;
    text-align: center;
}

.bottom_footer {
    width: 100%;
    text-align: center;
    height: 100px;
    background: #EFEFEF;
    margin-top: 10px;
}

.cl {
    clear: both;
}

.nav_one {
    height: 37px;
}

.go_c_web {
    float: left;
    margin-top: 15px;
    position: relative;
    left: 20px;
}

.regi {
    float: right;
    margin-top: 15px;
    position: relative;
    right: 20px;
}

.regi a {
    font-size: 14px;
    margin: 5px;
}

.go_c_web a {
    font-size: 14px;
}

.copyright {
    color: #999;
    position: relative;
    top: 15px;
    font-size: 14px;
}

header,
footer,
.main {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

.banner {
    text-align: center;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.tc_nav {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right: 0px;
    background: white;
    display: none;
}

.tc_nav * {
    color: #333;
    font-size: 14px;
}

.tc_nav>div {
    float: left;
}

.tc_btn em {
    float: left;
    margin-left: 5px;
}

.tc_btn i {
    margin-right: 5px;
}

.tc_btn i,
.down {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/up.jpg) no-repeat center;
}

.down {
    transform: rotate(180deg);
    position: relative;
    top: 11px;
    margin: 0 auto;
    position: relative;
    right: 14px;
}

.tc_btn {
    line-height: 22px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.tc_nav_d {
    padding: 20px 0px;
    padding-bottom: 10px;
    width: 100%;
}

.tc_nav_d li {
    text-align: center;
    width: 25%;
    float: left;
    margin-bottom: 20px;
}

.zhezc {
    background: black;
    opacity: 0.6;
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 666;
    display: none;
}

.down_li {
    width: 6%!important;
    float: right!important;
    margin-right: 7px;
    overflow: visible!important;
}

.banner {
    position: relative;
    margin: 0 auto;
    max-width: 640px;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
}

.hd {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.hd ul li {
    float: left;
    width: 15px;
    height: 15px;
    line-height: 16px;
    border-radius: 10px;
    background: #ff9600;
    color: white;
    margin: 2px;
    font-size:12px;
}

.hd .on {
    background: red;
}

.nav_fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 999;
}
.tc_nav_d li:after{
    display: none;
}
