.wrap_div_fl {
  width: 695px;
}
.pri_data {
  width: 694px;
}
.wrap_div_fl .sku {
  margin-top: 84px;
  margin-bottom: 30px;
  width: 672px;
}
.wrap_div_fl .sku .wrap_div_fl_dl_01 {
  width: 672px;
}
.other_tip {
  width: 1200px;
}
.o_tip_wfz .wxin {
  width: 469px;
}
.o_tip_wfz .fw_zf ul li {
  width: 148px;
}
.ot_banner img {
  width: 100%;
}
.coupons_input,
.add_tab .d2 {
  display: none;
}
#add_car {
  position: relative;
  top: 16px;
}
.pri_data ul li{
	padding-right: 30px;
    padding-left: 30px;
}
.new_item {
    margin-top: 90px;
}