.header{
	background-color: #219946;
	border: none;
}
.header .font{
	color: #fff;
}
.header .expand span{
	display: inline-block;
	width: 26px;
  	height: 26px;
	background: url(../images/css_sprite.png) scroll no-repeat -454px -0px;
	background-size:30rem;	
}
.swiper-pagination-bullet{
	width: 7px;
	height: 7px;
	-webkit-border-radius: 7px 8px 8px 7px/7px 7px 8px 8px;
	-moz-border-radius: 7px 8px 8px 7px/7px 7px 8px 8px;
	border-radius: 7px 8px 8px 7px/7px 7px 8px 8px;
	background-color: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #ffa321;
	width: 18px;
	height: 8px;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{
	margin: 0 0 0 3px;
}
.index_top .icon em{
	display: inline-block;
  	background: url(../images/css_sprite.png) scroll no-repeat 0px 0px;
	width:45px;height:44px;
	background-size:30rem;
	margin: 0 8px 0 10px;
}
.index_top .icon1 em{
	background-position:-46px -0px;
}
.index_top .icon2 em{
	background-position:-93px -0px;
}
.index_top .icon3 em{
	background-position:-139px -0px;
}
.index_top h1{
	font-size: 18px;
	color: #362a27;
}
.index_top h2{
	font-size: 10px;
	color: #999999;
}
.index_top .flex .flex_item{
	margin-bottom: 9px;
}
.ad a{
	margin-bottom: 2px;
	position: relative;
}
.ad .left{
	margin-right:2px;
}
.lefttime{
	font-size: 18px;
	color: #3b3b3b;
	position: absolute;
	top: 31%;
	left: 6%;
}
.lefttime em{
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #3b3b3b;
}
